<footer>
    <div class="footerContainer">
        <div class="footer-1">
            <!-- 푸터 - 메뉴 -->
            <div class="footer_left">
                <a href="/aboutUs">방단기 소개</a>
                <a href="//pf.kakao.com/_HxcGdT">문의하기</a>
                <a href="#header_inner" onclick="javascript:window.scrollTo(0,0);">TOP</a>
            </div>

            <div class="footer_right"></div>
        </div>
        <!-- 푸터 - 사업자정보 -->
        <div class="footer-2">
            <div class="business-info">
                <div class="title">방단기</div>
                <div class="text">
                    사업자 등록번호 : 476-33-00767 | 대표 : 임지현<br />
                    울산광역시 북구 강동산하 5로 66, 104동 2901
                </div>
            </div>
            <div class="contact-us">
                <div class="title">Contact Us</div>
                <div class="text">
                    대표전화 : 010-4231-1255 (평일, 주말 10시~20시)<br />
                    이메일 : tlakd3756@naver.com
                </div>
            </div>
        </div>
        <!-- SNS 버튼 -->
        <div class="footer-3">
            <a href="https://www.instagram.com/bang_dangi/?hl=ko">
                <i class="xi-instagram"></i>
            </a>
            <a href="https://blog.naver.com/bangdangi">
                <i class="xi-naver-square"></i>
            </a>
        </div>
    </div>
</footer>
