<header>
    <div class="container">
        <!-- 로고, 햄버거 메뉴 -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#nav-menu">
                <span class="sr-only">Toggle navigation</span>
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/img/header/bangdangi_logo_c_128w.png" alt="방단기 로고">
            </a>
        </div>

        <!-- 메뉴 -->
        <div class="collapse navbar-collapse" id="nav-menu">
            <% if(user) { %>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="#"><%=user.name%>님</a></li>
                </ul>
            <% } %>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/board/list/all">방 보러가기</a></li>
                <li><a href="/board/create">방 등록하기</a></li>
                <% if(user) { %>
                    <li><a href="user/profile">마이페이지</a></li>
                    <li><a href="/user/logout">로그아웃</a></li>
                <% } else { %>
                    <li><a href="/user/login">로그인</a></li>
                <% } %>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</header>
<!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- 부트스트랩 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/babel/dst/headerBar.js"></script>