<header>
    <nav id="header_inner">
        <a class="header_logo" href="https://bangdangi.web.app/">
            <img src="/img/header/bangdangi_logo_c_128w.png" alt="방단기 로고">
        </a>
        <ul class="nav">
            <!-- <li><a href="/request">이런방구해요</a></li> -->
            <!-- <li><a href="/register">매물등록</a></li> -->
            <% if(user) { %>
                <li><a href="/board/create">매물등록</a></li>
                <li><a href="/user/logout">로그아웃</a></li>
            <% } else { %>
                <li><a href="/user/login">로그인</a></li>
            <% } %>
        </ul>
    </nav>
</header>