<header>
    <nav id="header_inner">
        <a class="header_logo" href="https://bangdangi.web.app/">
            <img src="img/bangdangi_logo_2.png" alt="방단기 홈">
        </a>
        <ul class="nav">
            <li><a href="/request">이런방구해요</a></li>
            <li><a href="/register">매물등록</a></li>
        </ul>
    </nav>
</header>