<form id="univ_form">
    <label for="univ_select">지역을 선택해주세요</label>
    <select name="univ" id="univ_select">
        <option value="" selected>지역을 선택해 주세요</option>
        <option value="gwanak">관악구 ・ 동작구 ・ 영등포구</option>
        <option value="gangnam">서초구 ・ 강남구</option>
        <option value="yangcheon">양천구 ・ 강서구</option>
        <option value="mafo">마포구 ・ 서대문구</option>
        <option value="dongdaemun">동대문구</option>
        <option value="other">다른지역 방 문의하기</option>
    </select>
</form>
