<form id="place_form">
    <label for="place_select">지역을 선택해주세요</label>
    <select name="place" id="place_select">
        <option value="" selected>지역을 선택해 주세요</option>
        <option value="all">전체</option>
        <option value="gangnam">강남구</option>
        <option value="gwanak">관악구</option>
        <option value="other">다른지역 방 문의하기</option>
    </select>
</form>
