/* 
*   SCSS variables
*/

/* colors */
$white: #fff;
$main-color: #0ab9f1;
$font-color: #3b3b46;
$grey-border-color: #e4e4e4; // #e4e4e4
$article-bg-color: #f4f4f4;
$kakao-yellow: #ffe812;
$grey: rgb(117, 117, 117);
$lightgrey: rgb(200, 200, 200);

/* font-weight */
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

/* font-family */
$font-family: Spoqa Han Sans, Noto Sans KR, AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif !default;

/* font-size */
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 24px;
$fs-2xl: 36px;
$fs-3xl: 48px;
$fs-4xl: 60px;

/* line-height */
$line-height: percentage(20px / $fs-md);

/* media query */
$break-small: 600px;
$breek-large: 1024px;

@mixin respond-to($media) {
    @if $media==phone {
        @media only screen and (max-width: $break-small) {
            @content;
        }
    } @else if $media==medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
            @content;
        }
    } @else if $media==wide-screens {
        @media only screen and (min-width: $break-large) {
            @content;
        }
    }
}
