/*
*   article.scss
*   매물 상세정보 페이지
*/

/* 변수 import */
@import "variables.scss";

/* local variables */
$content_max_width: 1024px;
$contact_color: #073e59;
$contact_bg_color: rgba(8, 186, 241, 0.18);

header {
    position: absolute;
}

#wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

/* 제목 + 가격 */
.top-section {
    width: 100%;
    max-width: $content_max_width;
    padding: 40px 20px 0;
    margin: auto;
    margin-top: 64px;
    background-color: $white;
    border: 0;
    box-sizing: border-box;
    @include respond-to(phone) {
        padding: 20px 16px 0;
        margin-top: 48px;
    }

    .bread-nav-container {
        height: 24px;
        @include respond-to(phone) { margin-bottom: 12px; }

        .breadcrumbs {
            float: left;
            list-style: none;

            li {
                display: inline-block;
                font-size: $fs-sm;
                @include respond-to(phone) { font-size: $fs-xs; }
                
                a {
                    color: $grey;
                    font-size: inherit;
                    &:hover { text-decoration: underline; }
                }

                &::after {
                    content: '';
                    padding: 0 0.15em 0 0.3em;
                    color: $grey;
                }

                &:last-child::before, &:last-child::after { content: ''; }
            }
        }

        .bread-right {
            float: right;

            span {
                font-size: $fs-sm;
                color: $font-color;
                text-align: center;
                @include respond-to(phone) { font-size: $fs-xs; }

                &.views-container { 
                    margin-right: 12px; 
                    @include respond-to(phone) { margin-right: 4px; }
                }

                i { 
                    color: $font-color;
                    width: 30px;
                    @include respond-to(phone) { width: 20px; }
                }
            }
        }
    }

    .title-container {
        padding: 20px 0;
        text-align: left;
        @include respond-to(phone) {
            text-align: center;
        }

        .title {
            font-size: $fs-xl + 4px;
            font-weight: $fw-regular;
            word-break: keep-all;

            .done_container {
                color: white;
                background-color: #0ab9f1;
                padding: 2px 8px;
                border-radius: 100px;
                font-size: $fs-sm;
                font-weight: $fw-regular;
                position: relative;
                top: -6px;
            }
        }
    }

    .top-section-price {
        display: flex;
        padding: 16px 0;

        .price-container {
            flex: 1.5;
            display: flex;

            .price {
                flex: 1;
                padding: 8px 0;
                margin-right: 16px;
                border-right: 1px solid $grey-border-color;
                @include respond-to(phone) { 
                    text-align: center; 
                    margin-right: 0;
                }

                &:last-child { 
                    margin-right: 0;
                    @include respond-to(phone) { border: 0; }
                }

                > div:first-child {
                    color: $grey;
                    font-size: $fs-md;
                    font-weight: $fw-regular;
                    margin-bottom: 4px;
                }


                > div:last-child {
                    color: $font-color;
                    font-size: $fs-xl;
                    font-weight: $fw-bold;

                    > span {
                        font-size: $fs-lg;
                        font-weight: $fw-regular;
                    }
                }
            }
        }

        .pc-btn-container {
            flex: 2;
            display: flex;
            padding: 8px 20px;
            @include respond-to(phone) {
                display: none;
            }  
        }
    }
}


.pc-btn-container,
.mobile-btn-container {
    > button, > div {
        flex: 1;
        display: block;
        -webkit-appearance: none;
        appearance: none;
        margin: 0 8px;
        border-radius: 100px;
        font-size: $fs-lg;
        font-weight: $fw-regular;
        box-sizing: border-box;
        cursor: pointer;
    }

    .reserve-btn {
        border: 1px solid $grey;
        color: $font-color;
        background-color: $white;
    }

    .contact-btn {
        border: 0;
        background-color: $main-color;
        color: $white;
    }

    .done-btn {
        border: 0;
        background-color: $grey-border-color;
        color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: auto;
    }
}

/* 사진 캐로셀 */
.carousel-container {
    width: 100%;
    max-width: $content_max_width;
    margin: 40px auto;
    background-color: $article-bg-color;

    .slick-container {
        width: 40%;
        min-width: 300px;
        margin: auto;
        @include respond-to(phone) {
            width: 100%;
        }

        .slick-list { background-color: $font-color; }
        .slick-track { display: flex; }
        .slick-track .slick-slide {
            display: flex;
            height: auto;
            align-items: center;
            justify-content: center;
        }

        img { width: 100%; }
    }

    .slick-prev:before, .slick-next:before {
        opacity: 1 !important;
    }
    .slick-arrow {
        @include respond-to(phone) { display: none !important; }
    }
}

/* 매물정보 테이블 */
.info {
    max-width: $content_max_width;
    width: 100%;
    margin: auto;
    padding: 40px 0 20px 0;
    @include  respond-to(phone) { padding: 40px 16px 20px 16px; }


    /* 반응형 테이블 구현하기 위해서 */
    table, thead, tbody, th, td, tr { 
        @include respond-to(phone) { display: block; } 
	}

    table {
        width: 100%;
        border-collapse: collapse; 
        border-spacing: 0;

        thead {
            background-color: $grey-border-color;
        }

        tbody {
            border-bottom: 1px solid $grey-border-color;
        }

        th {
            width: 25%;
            padding: 24px 4px;
            font-size: $fs-md;
            font-weight: $fw-regular;
            color: $grey;
            @include respond-to(phone) {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }


        td {
            text-align: center;
            padding: 24px 4px;
            font-size: $fs-md;
            font-weight: $fw-regular;
            color: $font-color;
            @include respond-to(phone) {
                border: 1px solid $grey-border-color;
                border-bottom: 0;
                position: relative;
                padding: 16px 4px;
                padding-left: 35%; 
                text-align: left;
            }

            &::before { 
                display: none;
                @include respond-to(phone) {
                    display: inline-block;
                    /* Now like a table header */
                    position: absolute;
                    /* Top/left values mimic padding */
                    top: 0;
                    left: 0;
                    width: 30%; 
                    padding:16px 8px;
                    white-space: nowrap;
                    border-right: 1px solid $grey-border-color;
                    box-sizing: border-box;
                }
            }
        }

        /*
        Label the data
        */
        td:nth-of-type(1):before { content: "기간"; }
        td:nth-of-type(2):before { content: "위치"; }
        td:nth-of-type(3):before { content: "방 형태"; }
        td:nth-of-type(4):before { content: "층수"; }
    }
}

/* 모바일 문의 버튼 컨테이너 */
.mobile-btn-container {
    display: none;
    width: 100%;
    padding: 40px 16px;
    border-bottom: 6px solid $grey-border-color;
    @include respond-to(phone) { display: block; }

    > button { 
        width: 100%;
        padding: 20px 0;
        border-radius: 8px;
        margin: 0;
    }

    .contact-btn {
        margin-bottom: 12px;
    }
}

/* 공유하기 딤드 */
.dimmed-share {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;

    &.visible {
        visibility: visible;
    }

    > a {
        display: inline-block;
        text-align: center;
        padding: 0 20px;
        cursor: pointer;

        img {
            margin-bottom: 8px;
            width: 60px;
            height: 60px;
            border-radius: 30px;
        }

        p {
            color: $white;
        }
    }

    .dimmed-close > i {
        color: $white;
        font-size: 40px;
        position: absolute;
        top: 28px;
        right: 5%;
    }
}

/* 본문 블럭 */
.detail-container,
.review-container,
.map-container,
.related-container {
    width: 100%;
    max-width: $content_max_width;
    margin: auto;
    padding: 60px 20px;
    background-color: $white;
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid $grey-border-color;

    @include respond-to(phone) {
        padding: 40px 16px;
        margin-bottom: 0;
        border-bottom: 6px solid $grey-border-color;
    }

    .title {
        font-size: $fs-xl;
        font-weight: $fw-regular;
        margin-bottom: 24px;

        > span a {
            font-size: $fs-sm;
            font-weight: $fw-light;
            margin-left: 12px;

            &:hover { text-decoration: underline; }
        }
    }

    .text {
        white-space: pre-line;
        font-size: $fs-md;
        font-weight: $fw-light;
        word-break: break-all;

        > a {
            color: blue;
            text-decoration: underline;
        }
    }

    .sub-info {
        margin-top: 20px;
        margin-left: 24px;
        @include respond-to(phone) {
            margin-left: 20px;
        }
        li  {
            font-size: $fs-sm;
            font-weight: $fw-light;
            color: $grey;
            line-height: $fs-lg;
            
            i {
                font-size: $fs-sm;
                font-weight: $fw-light;
            }
        }   
    } 

    .map {
        width: 100%;
        height: 400px;

        @include respond-to(phone) {
            height: 240px;
        }
    }
}

.map-container {
    @include respond-to(phone) {
        padding-left: 0;
        padding-right: 0;
    }

    .title {
        @include respond-to(phone) {
            padding: 0 16px 24px;
        }
    }
}

/* 관련 매물 추천 리스트 */
.related-container { border: 0; }
.related-list {
    width: 100%;
    height: 258px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; // IE에서 스크롤바 감춤
    &::-webkit-scrollbar { 
        display: none !important; // 윈도우 크롬 등에서 스크롤바 감춤
    }
    @include respond-to(phone) {
        justify-content: flex-start;
    }

    li {
        list-style: none;
        padding: 0 8px;
        width: calc(1024px / 3);
        min-width: 300px;
        height: 258px;

        &:first-child { padding-left: 0; }
        &:last-child  { padding-right: 0; }

        > a {
            position: relative;
            display: inline-block;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 0;

            &:hover img {
                transform: scale(1.1);
            }

            .related-img {
                width: 100%;
                height: 180px;
                border-radius: 8px;
                border: 1px solid  $grey-border-color;
                overflow: hidden;

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform .25s ease-in-out;
                }
            }

            .related-text {
                width: 100%;
                height: 258px - 180px;
            }
        }
    }

    p {
        font-size: 15px;
        font-weight: 400;
    }
}

/* 목록으로 돌아가기 */
.back-btn-container {
    width: 100%;
    max-width: $content_max_width;
    margin: auto;
    text-align: center;
    padding: 40px 20px 60px;
    @include respond-to(phone) { padding: 40px 16px 60px; }

    .back-btn {
        display: inline-block;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        padding: 24px 80px;
        border: 0;
        background-color: $article-bg-color;
        color: $font-color;
        border-radius: 100px;
        text-align: center;
        @include respond-to(phone) { width: 100%; }

        &:hover {
            text-decoration: underline;
        }
    }
    
}


/* 푸터 */
footer {

}
