/*
*   article.scss
*   매물 상세정보 페이지
*/

/* 변수 import */
@import "variables.scss";

/* local variables */
$content_max_width: 800px;
$contact_color: #073e59;
$contact_bg_color: rgba(8, 186, 241, 0.18);

#wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    background-color: $article_bg_color;
}

/* 헤더 */
header {
    #header_inner {
        max-width: $content_max_width;

        .back_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            font-size: $fs_xl;
            font-weight: $fw_regular;

            @include respond-to(phone) {
                padding: 0;
            }

            .back_arrow {
                margin-right: 12px;
                height: 58px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .share_container {
            padding: 0 20px;
            font-size: $fs_lg;
            font-weight: $fw_regular;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;

            > li {
                position: absolute;
                display: inline-block;
                width: 32px;
                height: 32px;
                background-color: #fff;
                box-sizing: border-box;
                border-radius: 100px;
                text-align: center;
                left: 0;
                overflow: hidden;

                a {
                    color: $font_color;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    border-radius: 100px;
                    overflow: hidden;

                    > img {
                        width: 100%;
                    }
                }
            }

            .kakao_link_btn,
            .url_link_btn {
                opacity: 0;
                left: 0 !important;
                transition: left 0.6s cubic-bezier(0.01, 0.71, 0.76, 0.95);
            }

            .kakao_visible {
                left: -84px !important;
            }

            .url_visible {
                left: -42px !important;
            }
        }
    }
}

/* 첫번째 블럭 : 제목 + 사진 + 매물정보 */
.block1 {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 16px;
    margin-top: 80px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    .titleBlock {
        padding: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include respond-to(phone) {
            flex-direction: column;
            align-items: flex-start;
        }

        .title {
            font-size: $fs_lg;
            font-weight: $fw_regular;
            word-break: keep-all;
        }

        .views_container {
            display: flex;
            font-size: $fs_md;

            @include respond-to(phone) {
                margin-top: 12px;
            }

            .views_title {
                padding: 0 10px;
                margin-left: 10px;

                @include respond-to(phone) {
                    padding: 0;
                    margin: 0;
                    padding-right: 10px;
                }
            }
        }
    }

    .infoBlock {
        display: flex;
        padding: 20px;

        @include respond-to(phone) {
            display: block;
        }

        /* 이미지 슬라이더 */
        .slider_container {
            width: 100%;
            position: relative;
            height: 0;
            overflow: hidden;
            padding-bottom: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
            flex: 1;

            @include respond-to(phone) {
                padding-bottom: 70%;
            }

            .mask {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.02);
                overflow: hidden;
                display: flex;
                align-items: center;

                .image_container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    position: relative;
                    left: 0;
                    transition: left 0.5s ease-in-out;

                    > div {
                        min-width: 100%;
                        min-height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .slider_btn {
                color: white;
                position: absolute;
                top: calc(50% - 16px);
                width: 32px;
                height: 32px;
                text-align: center;
                text-shadow: 0 0 4px #333;
                cursor: pointer;
            }

            .slider_btn_l {
                left: 10px;
            }

            .slider_btn_r {
                right: 10px;
            }

            .slider_counter {
                background: rgba(0, 0, 0, 0.3);
                color: white;
                padding: 4px 8px;
                position: absolute;
                bottom: 12px;
                right: 16px;
                border-radius: 2px;
                font-size: $fs_sm;
                font-weight: $fw_light;
                letter-spacing: 1.5px;
            }
        }

        /* 매물정보 컨테이너 */
        .info_container {
            flex: 1;
            padding-left: 20px;

            @include respond-to(phone) {
                padding: 0;
                margin-top: 20px;
            }

            .info_title {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 24px;
            }

            .info_table {
                display: table;
                width: 100%;

                .row {
                    display: table-row;
                    height: 40px;

                    .cell_title {
                        display: table-cell;
                        font-size: 14px;
                        font-weight: 400;
                        width: 80px;
                    }

                    .cell_data {
                        display: table-cell;
                        font-size: 16px;
                        font-weight: 500;
                        word-break: keep-all;

                        @include respond-to(phone) {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

.done_container {
    color: white;
    background-color: #0ab9f1;
    padding: 2px 8px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 400;
}

/* 본문 블럭 */
.block2 {
    width: 100%;
    max-width: $content_max_width;
    margin: auto;
    padding: 20px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 16px;

    @include respond-to(phone) {
        margin-bottom: 0;
    }

    .detail_title {
        font-size: $fs_md;
        font-weight: $fw_regular;
        margin-bottom: 24px;
    }

    .detail_text {
        white-space: pre-line;
        font-size: $fs_md;
        font-weight: $fw_light;
    }

    /* 연락하기 버튼 블럭 */
    .contact_container {
        width: 100%;
        max-width: 800px;
        display: flex;
        margin: auto;
        margin-top: 40px;

        /* 뒤로가기 */
        .cancel_btn {
            margin: auto;
            color: #333;
            height: 60px;
            font-size: 18px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            flex: 2;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            @include respond-to(phone) {
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 999;
                margin: 0;
                height: 80px;
                width: 100%;
                background-color: $main_color;
                color: $white;
            }
        }

        /* 연락하기 */
        .contact_btn_container {
            margin: auto;
            color: $white;
            height: 60px;
            font-size: $fs_lg;
            font-weight: $fw_regular;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex: 3;
            margin-left: 8px;
            box-sizing: border-box;
            cursor: pointer;
            @include respond-to(phone) {
                font-size: $fs_md;
                height: 48px;
                margin: 0;
            }

            .contact_kakao {
                background-color: $kakao_yellow;
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
            }

            .contact_done {
                background-color: rgb(245, 247, 248);
                color: $font_color;
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
            }

            .contact_call,
            .contact_sms {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                background-color: $main_color;
                color: $white;
                font-size: $fs_lg;
                font-weight: $fw_regular;
                @include respond-to(phone) {
                    color: $contact_color;
                    background-color: $contact_bg_color;
                }
            }

            .contact_call {
                margin-right: 2px;
            }
        }
    }
    
    .sub-info {
        margin-top: 20px;
        margin-left: 24px;
        @include respond-to(phone) {
            margin-left: 20px;
        }
        li  {
            font-size: $fs_sm;
            font-weight: $fw_light;
            color: $grey;
            line-height: $fs_lg;
            
            i {
                font-size: $fs_sm;
                font-weight: $fw_light;
            }
        }
        
    }
}

/* 후기 블럭 */
.review-block {
    width: 100%;
    max-width: $content_max_width;
    margin: auto;
    padding: 20px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 16px;

    @include respond-to(phone) {
        margin-bottom: 0;
    }

    .review-title {
        font-size: $fs_md;
        font-weight: $fw_regular;
        margin-bottom: 24px;
    }

    .review-text {
        white-space: pre-line;
        font-size: $fs_md;
        font-weight: $fw_light;
    }
}

/* 지도 블럭 */
.map-block {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 16px;
    padding: 20px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    .map-title {
        font-size: $fs_md;
        font-weight: $fw_regular;
        margin-bottom: 24px;
    }
    .map {
        width: 100%;
        height: 300px;
        background-color: $article_bg_color;
    }
}

/* 관련 매물 추천 */
.block3 {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 40px;

    .related_title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 24px;
        padding-left: 10px;
    }

    .related_body {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        @include respond-to(phone) {
            align-items: stretch;
            flex-direction: column;
        }

        > a {
            display: block;
            flex: 1;
            padding: 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            @include respond-to(phone) {
                padding: 16px 10px;
                margin: 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }

            &:first-child {
                @include respond-to(phone) {
                    padding-top: 0;
                }
            }
            &:last-child {
                @include respond-to(phone) {
                    padding-bottom: 0;
                    border: none;
                }
            }

            .related_img_container {
                width: 100%;
                position: relative;
                height: 0;
                overflow: hidden;
                padding-bottom: 50%;
                border: 1px solid rgba(0, 0, 0, 0.1);
                flex: 1;
                @include respond-to(phone) {
                    margin-bottom: 8px;
                }

                .related_img {
                    position: absolute;
                    width: 100%;
                    background-size: cover;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }

        p {
            font-size: 15px;
            font-weight: 400;
        }
    }
}

/* 관련매물 더보기 버튼 */
.related_more {
    display: block;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: $content_max_width;
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(245, 247, 248);
    color: $font_color;
    font-size: $fs_sm;
    font-weight: $fw_regular;
    border-top: none;
}

/* 푸터 */
footer {
    height: 80px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: $fs_sm;
    font-weight: $fw_regular;
    padding: 0 8px;
    word-break: keep-all;
    color: gray;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    @include respond-to(phone) {
        margin: 0;
        margin-bottom: 80px;
        height: 100px;
        border: none;
    }
}
