/*
*   create.scss
*   매물 등록 페이지
*/


/* 변수 import */
@import "variables.scss";

/* local variables */
$content_max_width: 1024px;

body { background-color: $white; }

header { 
    position: absolute; 
    .nav li > a {
        padding: 0;

        &:hover {
            background-color: transparent;
        }
    }
}

.wrapper {
    max-width: $content_max_width;
    width: 100%;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 80px;
    background-color: $white;
    padding: 16px 0;
    @include respond-to(phone) {
        margin-top: 48px;
    }

    h1 {
        text-align: left;
        font-size: $fs-2xl;
        font-weight: $fw-bold;
        padding: 0 16px 20px;
        margin-bottom: 40px;
        border-bottom: 2px solid $lightgrey;
        @include respond-to(phone) { 
            padding: 0 12px 20px; 
        }
    }

    .block {
        border-bottom: 1px solid $grey-border-color;
        padding: 16px;
        margin-bottom: 20px;
        @include respond-to(phone) { 
            padding: 12px; 
            border: 0;
            border-radius: 0;
            border-bottom: 16px solid $article-bg-color;
        }

        .thumbs {
            overflow-y: hidden;
            overflow-x: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .thumb {
                margin: 8px 8px 8px 0;
                width: 160px;
                height: 160px;
                border: 1px solid $article-bg-color;
                margin-right: 4px;
                position: relative;
                @include respond-to(phone) { 
                    width: 100px;
                    height: 100px;
                }

                .remove {
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    color: $grey;
                    &:hover { 
                        color: $font-color; 
                        cursor: pointer;
                    }
                }
            }
        }

        &.block4 {
            @include respond-to(phone) { border: 0; }
        }
        
        h3 {
            text-align: left;
            font-size: $fs-xl;
            font-weight: $fw-bold;
            margin-bottom: 36px;
        }

        .control-label {
            font-weight: $fw-regular;
            font-size: $fs-md;
            text-align: left;
        }
    }

    .block5 {
        border: 0;
        padding: 0 20px;
        padding-top: 20px;
        @include respond-to(phone) { padding: 0 28px; }
        input[type="submit"] {
            background-color: $main-color;
            color: $white;
            border: 1px solid $main-color;
            max-width: 300px;
            margin: auto;
            height: 60px;
            font-size: $fs-lg;
        }
    }
    
}