/*
*   footer.scss
*   ν‘Έν„°
*/


/* λ³€μ import */
@import "variables.scss";


/* style */
footer {
    position: relative;
    width: 100%;
    padding: 40px 0;
    background-color: $font_color;
    color: $white;
    @include respond-to(phone) {
        padding: 40px 0;
    }

    .footerContainer {
        max-width: 1064px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 40px;
        color: inherit;
        @include respond-to(phone) {
            padding: 0 20px;
        }
        
        .footer-1 {
            font-size: $fs_md;
            font-weight: $fw_regular;
            a {
                display: inline-block;
                color: inherit;
                margin-right: 56px;
                @include respond-to(phone) {
                    margin-right: 28px;
                }
            }
        }
        
        .footer-2 {
            margin-top: 60px;    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @include respond-to(phone) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
            .business-info {
                @include respond-to(phone) {
                    margin-bottom: 60px;
                }
            }
            .title {
                font-size: $fs_md;
                font-weight: $fw_regular;
                padding-bottom: 8px;
            }
            .text {
                font-size: $fs_sm;
                font-weight: $fw_light;
                word-break: keep-all;
            }
        }

        .footer-3 {
            margin-top: 60px;
            a {
                display: inline-block;
                color: inherit;
                margin-left: 12px;
                @include respond-to(phone) {
                    margin: 0 6px;
                }
            }
            i {
                font-size: $fs_xl;
            }
        }
    }
}
