/*
*   footer.scss
*   ν‘Έν„°
*/


/* λ³€μ import */
@import "variables.scss";


footer {
    position: relative;
    width: 100%;
    padding: 80px 0;
    background-color: $font_color;
    @include respond-to(phone){ padding: 40px 0; }

    .footerContainer {
        max-width: 1104px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include respond-to(phone) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        .footer_left {
            font-size: $fs_md;
            font-weight: $fw_regular;
            @include respond-to(phone) { margin-bottom: 20px; }

            > a {
                display: inline-block;
                color: $white;
                margin-right: 56px;
                @include respond-to(phone) { margin: 0 16px; }
            }
        }

        .footer_right {
            a {
                display: inline-block;
                color: $white;
                margin-left: 12px;
                @include respond-to(phone) { margin: 0 6px; }
            }

            i { font-size: $fs_xl; }
        }
    }
}