/*
*   footer.scss
*   ν‘Έν„°
*/


/* λ³€μ import */
@import "variables.scss";


/* style */
footer {
    position: relative;
    width: 100%;
    padding: 40px 0;
    background-color: $font-color;
    color: $white;
    @include respond-to(phone) {
        padding: 40px 0;
    }

    .footerContainer {
        max-width: 1064px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 40px;
        color: inherit;
        @include respond-to(phone) {
            padding: 0 20px;
        }
        
        .footer-1 {
            a {
                font-size: $fs-lg;
                font-weight: $fw-bold;
                display: inline-block;
                color: inherit;
                margin-right: 56px;
                @include respond-to(phone) {
                    margin-right: 28px;
                }

                &:hover {
                    color: $main-color;
                }
            }
        }
        
        .footer-2 {
            margin-top: 60px;    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @include respond-to(phone) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-top: 40px;
            }
            .business-info {
                @include respond-to(phone) {
                    margin-bottom: 40px;
                }
            }
            .title {
                font-size: $fs-lg;
                font-weight: $fw-regular;
                padding-bottom: 8px;
                @include respond-to(phone) {
                    padding-bottom: 4px;
                }
            }
            .text {
                font-size: $fs-sm;
                font-weight: $fw-light;
                word-break: keep-all;

            }
        }

        .footer-3 {
            margin-top: 60px;
            a {
                display: inline-block;
                color: inherit;
                margin-right: 12px;
                @include respond-to(phone) {
                    margin: 0 6px;
                }
            }
            i {
                font-size: $fs-2xl;

                &.xi-instagram:hover {
                    color: #c32aa3;
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &.xi-naver-square:hover {
                    color: #03cf5d;
                }
            }
        }
    }
}
