/*
*   headerBar.scss
*   헤더바
*/

/* 변수 import */
@import "variables.scss";

/* headerBar local variables */
$header_max_width: 1064px;
$header_height: 64px;

@mixin style($header_height) {
    header { 
        position: fixed;
        box-sizing: border-box;
        word-break: keep-all;
        width: 100%;
        background-color: $white;
        box-shadow: 0 0 0 1px $grey-border-color;
        top: 0;
        left: 0;
        z-index: 100;
        transition: all .2s ease-out;
        height: $header_height;

        &.transparent {
            background-color: transparent;
            box-shadow: none;

            .nav li > a {
                color: $white;
            }
        }

        .navbar-brand {
            > img {
                display: block;
                width: 64px;

                @include respond-to(phone) {
                    width: 52px;
                }
            }
        }

        .icon-bar {
            background-color: $font-color;
        }

        .nav {
            li {
                display: inline-block;
                padding: 0 16px;
                height: 36px;
                line-height: 36px;
                color: $font-color;
                @include respond-to(phone) {
                    display: block;
                    text-align: right;
                    font-size: $fs-sm;
                    padding: 0px 4px;
                }

                > a {
                    width: 100%;
                    color: $font-color;
                    font-size: $fs-md;
                    font-weight: $fw-bold;
                    @include respond-to(phone){
                        font-size: $fs-sm;
                    }

                    &:hover {
                        color: $main-color;
                        background-color: transparent;
                    }
                }
            }
        }


    }
}

@include style($header_height: 64px);

@include respond-to(phone) {
    @include style($header_height: 48px);
}