/*
*   index.scss
*   메인페이지
*/

/* 변수 import */
@import "variables.scss";

/* local variables */
$bg_url: "../img/main_bg.jpg";
$header_height: 58px;
$content_max_width: 1104px;

/* CSS */
html,
body {
    height: 100%;
}

/* main block */
.mainBlock {
    height: calc(100% - #{$header_height});
    position: relative;
    width: 100%;
    background: url($bg_url) center center / cover no-repeat;
    background-color: rgba(44, 40, 40, 0.45);
    background-blend-mode: multiply;

    .mainBlockContainer {
        position: absolute;
        left: 0;
        right: 0;
        top: calc(50% - 200px);
        width: 100%;

        .mainBlockDivider {
            max-width: $content_max_width;
            padding: 0 40px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            @include respond-to(phone) {
                flex-direction: column;
                padding: 0 20px;
            }

            .mainCopy {
                color: $white;
                text-shadow: 4px 0px 9px rgba(58, 62, 49, 0.35);
                @include respond-to(phone) {
                    font-size: $fs_sm;
                }

                > h1 {
                    margin: 0 0 28px;
                    font-size: $fs_3xl;
                    font-weight: $fw_regular;
                    line-height: 1.36;
                    color: $white;
                    @include respond-to(phone) {
                        font-size: $fs_xl;
                    }
                }

                > p {
                    font-size: $fs_lg;
                    font-weight: $fw_light;
                    @include respond-to(phone) {
                        font-size: $fs_md;
                    }
                }
            }

            /* university select */
            #univ_form {
                position: relative;
                width: 360px;
                height: 47px;
                border: 3px solid $main_color;
                z-index: 1;
                background-color: rgba(240, 240, 240, 0.85);
                @include respond-to(phone) {
                    width: 100%;
                    margin: 80px 0;
                }

                &:before {
                    /* 화살표 대체 */
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    width: 0;
                    height: 0;
                    margin-top: -1px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #999;
                }

                label {
                    position: absolute;
                    top: 1px;
                    /* 위치정렬 */
                    left: 5px;
                    /* 위치정렬 */
                    font-size: 14px;
                    padding: 0.8em 0.5em;
                    /* select의 여백 크기 만큼 */
                    z-index: -1;
                    /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
                }

                #univ_select {
                    width: 100%;
                    height: auto;
                    /* 높이 초기화 */
                    line-height: normal;
                    /* line-height 초기화 */
                    font-family: inherit;
                    /* 폰트 상속 */
                    padding: 0.8em 0.5em;
                    /* 여백과 높이 결정 */
                    border: 0;
                    opacity: 0;
                    /* 숨기기 */
                    font-size: 14px;
                    filter: alpha(opacity=0);
                    /* IE8 숨기기 */
                    -webkit-appearance: none;
                    /* 네이티브 외형 감추기 */
                    -moz-appearance: none;
                    appearance: none;
                }
            }
        }
    }
}

/*
* sub block
*/
.subBlock {
    width: 100%;
    padding: 160px 0;
    position: relative;
    @include respond-to(phone) {
        padding: 120px 0;
    }

    .subBlock_container {
        max-width: 1024px;
        width: 95%;
        margin: 0 auto;
        padding: 0 24px;
        position: relative;
        @include respond-to(phone) {
            width: 100%;
            margin: 0;
            padding: 0 8px;
        }
    }

    /* 첫 번째 subBlock */
    &.b1 {
        background-color: $article_bg_color;

        .b1_title {
            text-align: center;
            font-size: $fs_xl;
            font-weight: $fw_regular;
        }
        .b1-sub {
            font-size: $fs_md;
            font-weight: $fw_light;
            text-align: center;
        }

        .b1_cards {
            width: 1024px;
            height: 258px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 60px;
            overflow: scroll;
            overflow-x: auto;
            overflow-y: hidden;
            @include respond-to(phone) {
                width: 100%;
            }

            .b1_item {
                position: relative;
                top: 0;
                width: 232px;
                height: 100%;
                display: flex;
                margin: 0 12px;

                .b1_item_content {
                    width: 232px;
                    background-color: $white;
                    border-radius: 5px;

                    .b1_item_img {
                        width: 100%;
                        height: 180px;
                        border-top-right-radius: 5px;
                        border-top-left-radius: 5px;
                        background-color: $grey_border_color;
                    }

                    .b1_item_text {
                        width: 100%;
                        border-bottom-right-radius: 5px;
                        border-bottom-left-radius: 5px;
                        border-bottom: 1px solid $grey_border_color;
                        border-left: 1px solid $grey_border_color;
                        border-right: 1px solid $grey_border_color;
                        padding: 14px;
                        height: 78px;
                        font-size: $fs_md;
                        font-weight: $fw_light;
                        line-height: 24px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
                .b1-more {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $main_color;
                    color: $main_color;
                    font-size: $fs_md;
                    font-weight: $fw_regular;
                }
                .b1-more-icon {
                    margin-top: 12px;
                    width: 36px;
                    height: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #0ab9f1;
                    border-radius: 20px;
                    color: white;
                    i {
                        font-size: $fs_md;
                    }
                }
            }
        }
    }

    /* 두 번째 subBlock */
    &.b2 {
        .b2_title {
            font-size: $fs_2xl;
            font-weight: $fw_light;
            line-height: 1.4;
            text-align: center;
            @include respond-to(phone) {
                font-size: $fs_xl;
                font-weight: $fw_regular;
            }
        }

        .b2_text {
            font: {
                size: $fs_lg;
                weight: $fw_thin;
            }
            text-align: center;
            margin-top: 32px;
            @include respond-to(phone) {
                font-weight: $fw_light;
            }
        }

        .b2_button {
            margin-top: 80px;
            text-align: center;

            button {
                width: 200px;
                padding: 16px 28px;
                background: rgba(0, 0, 0, 0.75);
                border: 1px solid rgba(0, 0, 0, 0.75);
                display: inline-block;
                border-radius: 100px;
                color: white;
                font: inherit;
                font-size: 16px;
                font-weight: 400;
                cursor: pointer;
                text-transform: none;
                margin: 0;
                transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
                box-sizing: border-box;

                &:hover {
                    background-color: transparent;
                    color: #3b3b46;
                    border: 1px solid transparent;
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 50px;
                }
            }
        }
    }

    &.b3 {
        border-bottom: 1px solid $grey_border_color;

        .b3-title {
            text-align: center;
            font-size: $fs_xl;
            font-weight: $fw_regular;
        }

        .b3-contents {
            margin-top: 60px;
            display: flex;
            flex-direction: row;
            width: 100%;
            @include respond-to(phone) {
                flex-direction: column;
            }

            .b3-content {
                flex-basis: 33.3%;
                padding: 0 40px;
                .b3-img {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    object {
                        width: 100%;
                    }
                }
                .b3-text {
                    width: 100%;
                    word-break: keep-all;

                    .title {
                        font-size: $fs_md;
                        font-weight: $fw_regular;
                        padding-bottom: 8px;
                    }
                    .text {
                        font-size: $fs_md;
                        font-weight: $fw_light;
                    }
                }
            }
        }
    }
}

/* PWA */
button#butInstall {
    position: fixed;
    bottom: 60px;
    left: calc(50% - 90px);
    width: 180px;
    height: 40px;
    -webkit-appearance: none;
    border: none;
    border-radius: 100px;
    background-color: dodgerblue;
    color: #fff;
    font-size: 15px;
}
