/*
*   index.scss
*   메인페이지
*/

/* 변수 import */
@import "variables.scss";

/* local variables */
$header_height: 58px;
$content_max_width: 1104px;

/* CSS */
html,
body {
    height: 100%;
}

/* main block */
.mainBlock {
    height: 100%;
    position: relative;
    width: 100%;

    /* 배경사진 */
    picture {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.85);
            -webkit-filter: brightness(0.85);
        }
    }

    .mainBlockContainer {
        position: absolute;
        left: 0;
        right: 0;
        top: calc(50% - 200px);
        width: 100%;
        @include respond-to(phone) {
            top: calc(50% - 140px);
        }

        .mainBlockDivider {
            max-width: $content_max_width;
            padding: 0 40px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            @include respond-to(phone) {
                flex-direction: column;
                padding: 0 20px;
            }

            .mainCopy {
                color: $white;
                text-shadow: 4px 0px 9px rgba(58, 62, 49, 0.35);
                text-align: center;
                @include respond-to(phone) {
                    font-size: $fs-sm;
                }

                > h1 {
                    margin: 0 0 40px;
                    font-size: $fs-3xl;
                    font-weight: $fw-bold;
                    line-height: 1.36;
                    letter-spacing: 1px;
                    color: $white;
                    @include respond-to(phone) {
                        font-size: $fs-xl + 4px;
                        letter-spacing: 0.4px;
                    }
                }

                > p {
                    font-size: $fs-lg;
                    font-weight: $fw-regular;
                    @include respond-to(phone) {
                        font-size: $fs-md;
                    }
                }
            }

            /* university select */
            #univ_form {
                position: relative;
                width: 240px;
                height: 60px;
                border: 1px solid #fff;
                border-radius: 40px;
                z-index: 1;
                margin-top: 60px;
                transition: all .2s ease-out;
                &:hover {
                    background-color: $white;
                }
                @include respond-to(phone) {
                    width: 200px;
                }

                label {
                    position: absolute;
                    width: 100%;
                    color: $white;
                    top: 1px;
                    /* 위치정렬 */
                    left: 0;
                    /* 위치정렬 */
                    font-size: $fs-md;
                    padding: 1em  0;
                    text-align: center;
                    /* select의 여백 크기 만큼 */
                    z-index: -1;
                    /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
                    transition: all .2s ease-out;
                }
                &:hover {
                    label {
                        color: $font-color;
                    }
                }

                #univ_select {
                    width: 100%;
                    height: 100%;
                    border-radius: 40px;
                    /* 높이 초기화 */
                    line-height: normal;
                    /* line-height 초기화 */
                    font-family: inherit;
                    /* 폰트 상속 */
                    padding: 0.8em 0;
                    /* 여백과 높이 결정 */
                    border: 0;
                    opacity: 0;
                    /* 숨기기 */
                    font-size: 14px;
                    filter: alpha(opacity=0);
                    /* IE8 숨기기 */
                    -webkit-appearance: none;
                    /* 네이티브 외형 감추기 */
                    -moz-appearance: none;
                    appearance: none;
                    cursor: pointer;
                }
            }
        }
    }

    i {
        font-size: 32px;
        color: $white;
        position:absolute;
        bottom: 12px;
        left: calc(50% -  16px);
    }
}

/*
* sub blocks
*/
.subBlock {
    width: 100%;
    padding-top: 140px;
    position: relative;
    @include respond-to(phone) {
        padding-top: 100px;
    }

    .subBlock_container {
        max-width: 1024px;
        width: 95%;
        margin: 0 auto;
        padding: 0 24px;
        position: relative;
        @include respond-to(phone) {
            width: 100%;
            margin: 0;
            padding: 0 8px;
        }
    }

    /* 거래후기 */
    &.review-block {
        .review-title {
            text-align: center;
            font-size: $fs-xl;
            font-weight: $fw-bold;
        }
        .review-list {
            width: 100%;
            height: 258px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            justify-content: center;
            margin-top: 28px;
            overflow: scroll;
            overflow-x: auto;
            overflow-y: hidden;
            -ms-overflow-style: none; // IE에서 스크롤바 감춤
            &::-webkit-scrollbar { 
                display: none !important; // 윈도우 크롬 등에서 스크롤바 감춤
            }
            @include respond-to(phone) {
                justify-content: flex-start;
            }

            li {
                list-style: none;
                padding: 0 8px;

                .review-item {
                    display: block;
                    width: 232px;
                    height: 258px;

                    .review-content {
                        width: 100%;
                        height: 100%;

                        .review-img {
                            width: 100%;
                            height: 180px;
                            border-radius: 12px;
                            border: 1px solid $grey-border-color;
                            object-fit: cover;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .review-text {
                            width: 100%;
                            padding: 12px 4px;
                            height: 78px;
                            font-size: $fs-md;
                            font-weight: $fw-light;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }

    /* 새로 등록된 매물 */
    &.b1 {
        background-color: $white;

        .b1_title {
            text-align: center;
            font-size: $fs-xl;
            font-weight: $fw-bold;
        }

        .b1_cards {
            width: 100%;
            height: 258px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            justify-content: center;
            margin-top: 28px;
            overflow: scroll;
            overflow-x: auto;
            overflow-y: hidden;
            -ms-overflow-style: none; // IE에서 스크롤바 감춤
            &::-webkit-scrollbar { 
                display: none !important; // 윈도우 크롬 등에서 스크롤바 감춤
            }
            @include respond-to(phone) {
                justify-content: flex-start;
            }

            li {
                list-style: none;
                padding: 0 8px;
            }

            .b1_item {
                position: relative;
                top: 0;
                width: 232px;
                height: 100%;
                display: flex;
                &:hover img {
                    transform: scale(1.1);
                }

                .b1_item_content {
                    width: 232px;
                    background-color: $white;

                    .b1_item_img {
                        width: 100%;
                        height: 180px;
                        border-radius: 12px;
                        border: 1px solid  $grey-border-color;
                        overflow: hidden;

                        > img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: transform .25s ease-in-out;
                        }
                    }

                    .b1_item_text {
                        background-color: $white;
                        width: 100%;
                        padding: 12px 4px;
                        height: 78px;
                        font-size: $fs-md;
                        font-weight: $fw-light;
                        line-height: 24px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;

                        .new-text-2 {
                            font-weight: $fw-regular;
                        }
                    }
                }
                
                &:last-child {
                    @include respond-to(phone) {
                        margin-right: 0px;
                    }
                }
            }
        }
    }

    /* 두 번째 subBlock - 다음 세입자 구해드립니다 */
    &.b2 {
        padding-bottom: 120px;

        .b2_title {
            font-size: $fs-2xl;
            font-weight: $fw-bold;
            line-height: 1.4;
            text-align: center;
            @include respond-to(phone) {
                font-size: $fs-xl;
            }
        }

        .b2_text {
            font: {
                size: $fs-lg;
                weight: $fw-light;
            }
            text-align: center;
            margin-top: 32px;
            @include respond-to(phone) {
                font-size: $fs-md;
                font-weight: $fw-light;
            }
        }
    }

    /* 세 번째 subBlock - 방단기 이용 가이드 */
    &.b3 {
        .b3-title {
            text-align: center;
            font-size: $fs-xl;
            font-weight: $fw-bold;
        }

        .b3-contents {
            list-style: none;
            margin-top: 12px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            justify-content: space-between;
            @include respond-to(phone) {
                -ms-overflow-style: none; // IE에서 스크롤바 감춤
                &::-webkit-scrollbar { 
                    display: none !important; // 윈도우 크롬 등에서 스크롤바 감춤
                }
            }

            .b3-content {
                flex-basis: 33.3%;
                padding: 0 12px;
                min-width: 240px;

                .b3-img {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    object {
                        width: 100%;
                    }
                }
                .b3-text {
                    width: 100%;
                    word-break: keep-all;

                    .title {
                        font-size: $fs-md;
                        font-weight: $fw-bold;
                        padding-bottom: 6px;
                        
                    }
                    .text {
                        font-size: $fs-md;
                        font-weight: $fw-light;
                    }
                }
            }
        }
    }

    /* 버튼 */
    .button-container {
        text-align: center;
        margin-top: 20px;

        .button {
            text-align: center;

            button {
                width: 200px;
                padding: 16px 28px;
                background: $article-bg-color;
                border: 1px solid $article-bg-color;
                display: inline-block;
                border-radius: 100px;
                color: $font-color;
                font: inherit;
                font-size: $fs-md;
                font-weight: $fw-regular;
                cursor: pointer;
                text-transform: none;
                margin: 0;
                box-sizing: border-box;
                transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0s;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}

/* PWA */
button#butInstall {
    position: fixed;
    bottom: 60px;
    left: calc(50% - 90px);
    width: 180px;
    height: 40px;
    -webkit-appearance: none;
    border: none;
    border-radius: 100px;
    background-color: dodgerblue;
    color: #fff;
    font-size: 15px;
}
