/*
*   list.scss
*   매물 리스트 페이지
*/

/* 변수 import */
@import "variables.scss";

/* local variables */
$content_max_width: 1024px;

/* upper */
.form_container {
    width: 100%;
    background-color: $white;
    position: fixed;
    top: 64px;
    left: 0;
    padding: 0 40px;
    z-index: 11;
    border-bottom: 1px solid $lightgrey;

    @include respond-to(phone) {
        padding: 0;
        top: 48px;
    }

    .form-inner {
        width: 100%;
        max-width: $content_max_width;
        margin: auto;
        display: flex;
        align-items: center;
        border-left: 1px solid $grey-border-color;
        border-right: 1px solid $grey-border-color;
        @include respond-to(phone) {
            border-left: 0;
            border-right: 0;
        }

        /* 지역선택 */
        #place_form {
            width: 100%;
            flex: 1;
            position: relative;
            max-width: $content_max_width;
            margin: auto;
            height: 47px;
            z-index: 11;
            display: flex;
            justify-content: center;
            align-items: center;

            @include respond-to(phone) {
                border: none;
            }

            &:before {
                /* 화살표 대체 */
                content: "";
                position: absolute;
                top: calc(50% - 2px);
                left: 16px;
                width: 0;
                height: 0;
                margin-top: -1px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #666;
            }

            label {
                position: absolute;
                top: 1px;
                /* 위치정렬 */
                left: 28px;
                /* 위치정렬 */
                font-size: $fs-md;
                padding: 10px 14px;
                /* select의 여백 크기 만큼 */
                z-index: -1;

                /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
                @include respond-to(phone) {
                    font-size: $fs-sm;
                    padding: 0.8em 0.5em;
                }
            }

            #place_select {
                flex: 1;
                height: auto;
                /* 높이 초기화 */
                line-height: normal;
                /* line-height 초기화 */
                font-family: inherit;
                /* 폰트 상속 */
                padding: 1em 0.5em;
                /* 여백과 높이 결정 */
                border: 0;
                opacity: 0;
                /* 숨기기 */
                font-size: $fs-sm;
                filter: alpha(opacity=0);
                /* IE8 숨기기 */
                -webkit-appearance: none;
                /* 네이티브 외형 감추기 */
                -moz-appearance: none;
                appearance: none;
            }
        }

        /* 필터 버튼 */
        .tune {
            width: 63px;
            height: 64px;
            border-left: 1px solid $grey-border-color;
            position: relative;
            cursor: pointer;
            @include respond-to(phone) {
                width: 47px;
                height: 48px;
            }

            &.active {
                background-color: $main-color;
                color: $white;
            }
        }

        /* 초기화 버튼 */
        .renew {
            width: 63px;
            height: 64px;
            border-left: 1px solid $grey-border-color;
            @include respond-to(phone) {
                width: 47px;
                height: 48px;
            }

            a {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        i {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            line-height: 64px;
            text-align: center;
            @include respond-to(phone) { 
                line-height: 48px; 
                font-size: $fs-sm;
            }
        }
    }
}

/* 필터 컨테이너 */
.filter-container {
    margin: auto;
    visibility: hidden;
    width: 100%;
    overflow: hidden scroll;
    position: fixed;
    top: 129px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: $white;

    @include respond-to(phone) {
        top: 96px;
    }

    &.visible {
        visibility: visible;
    }

    > form {
        width: 100%;
        max-width: $content_max_width;
        margin: auto;
        z-index: 1;
        background-color: $white;
        padding: 20px 20px 40px 20px;
        @include respond-to(phone) {
            padding: 16px 16px 40px 16px;
        }

        .input_container {
            .hashtag_title {
                font-size: $fs-xl;
                font-weight: $fw-regular;
                margin: 16px auto;
                width: 100%;
                @include respond-to(phone) {
                    font-size: $fs-lg;
                }
            }

            .hashtag_list {
                margin: auto;
                width: 100%;
                padding-bottom: 40px;
                margin-bottom: 40px;
                border-bottom: 1px solid $grey-border-color;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"] + label span {
                    color: $font-color;
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    cursor: pointer;
                    clear: both;
                    margin: 4px 8px 4px 0;
                    padding: 4px 8px;
                    border: 1px solid $grey-border-color;
                    border-radius: 40px;
                    font-size: $fs-md;
                    font-weight: $fw-light;
                }

                input[type="checkbox"]:checked + label span {
                    background-color: $main-color;
                    border: 1px solid $main-color;
                    color: $white;
                }

                input[type="range"] {
                    display: inline-block;
                    -webkit-appearance: none;
                    background-color: $grey;
                    width: calc(100% - 100px);
                    max-width: 480px;
                    height: 2px;
                    margin-right: 4px;
                    outline: 0;
                    position: relative;
                    top: -4px;
                }

                input[type="range"]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    background-color: $white;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    border: 2px solid $main-color;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                }

                ​ input[type="range"]::-webkit-slider-thumb:hover {
                    background-color: $white;
                    border: 2px solid $main-color;
                }

                input[type="range"]::-webkit-slider-thumb:active {
                    transform: scale(1.3);
                    background-color: $grey-border-color;
                }
            }
        }

        .submit_container {
            width: 100%;
            height: 48px;
            margin: auto;
            text-align: center;
            margin-top: 16px;
            display: flex;
            justify-content: center;
            align-items: stretch;

            input[type="submit"] {
                flex: 1;
                max-width: 60px;
                box-sizing: border-box;
                color: #0ab9f1;
                cursor: pointer;
                font-size: $fs-lg;
                border: 0;
                font-weight: $fw-regular;
                background-color: $white;
            }

            .filter-cancel {
                width: 60px;
                box-sizing: border-box;
                display: inline-block;
                font-size: $fs-lg;
                font-weight: $fw-regular;
                color: $grey;
                text-decoration: none;
                vertical-align: bottom;
                line-height: 48px;
                background-color: $white;
                border: 0;
                appearance: none;
                -webkit-appearance: none;
            }
        }
    }
}

.top_btn {
    display: none;
    position: fixed;
    left: calc(50% + 316px);
    background-color: #fff;
    bottom: 80px;
    line-height: 12px;
    text-align: center;
    width: 36px;
    height: 32px;
    padding: 2px !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* lower: 매물 리스트 컨테이너 */
#lower {
    margin-top: 124px;
    width: 100%;
    display: block;
    background-color: $white;
    padding: 36px 0;

    @include respond-to(phone) {
        border: none;
        margin-top: 88px;
    }
}

.recruit-container {
    width: 100%;
    max-width: $content_max_width;
    margin: 20px auto 40px;
    display: none;

    .recruit-btn {
        padding: 24px 20px;
        background-color: #f5f5f5;
        border-radius: 8px;
        width: 100%;
        display: block;
        text-align: center;
        color:$font-color;
        @include respond-to(phone) {
            padding: 24px 16px;
            border-radius: 0;
        }

        > div {
            display: flex;
            justify-content: center;
            align-items: center;

            > span:first-child {
                text-align: left;
                font-size: $fs-xl + 4px;
                font-weight: $fw-bold;
                line-height: 36px;
                @include respond-to(phone) {
                    font-size: $fs-lg;
                    line-height: $fs-xl;
                }
                > span {
                    display: block;
                    font-size: $fs-md;
                    font-weight: $fw-light;
                    line-height: $fs-md;
                    padding-top: 8px;
                    @include respond-to(phone) { font-size: $fs-sm; }
                }
            }
            > span:last-child {
                width: 200px;
                position: relative;
                left: -10px;
                @include respond-to(phone) {
                    width: 140px;
                }
                
                img { width: 100%; }
            }
        }
    }
}

/* list Title */
.listTitle {
    margin: auto;
    width: 100%;
    max-width: $content_max_width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    padding: 8px 16px;
    font-size: $fs-xl;
    font-weight: $fw-bold;

    .sortBtnContainer {
        font-size: $fs-lg;
        font-weight: $fw-regular;
        color: #aaa;

        .sortBtn {
            margin: 0 2px;
            cursor: pointer;

            &.active {
                color: $font-color;
            }
        }
    }
}

/* list */
.article-list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    max-width: $content_max_width;
    background-color: $white;

    .article {
        width: 33.33%;
        float: left;
        padding: 16px;
        margin-bottom: 32px;
        @include respond-to(phone) {
            width: 100%;
            clear: both;
            padding: 0;
            margin: 0;
            border-top: 1px solid $grey-border-color;
        }

        > a {
            width: 100%;
            height: 352px;
            display: block;
            box-sizing: border-box;
            text-decoration: none;
            color: $font-color;
            background-color: $white;
            @include respond-to(phone) {
                height: 209px;
                padding: 28px 16px;
            }

            &:hover .pic_container > img {
                transform: scale(1.1);
            }

            .list_wrapper {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
                align-items: stretch;
                @include respond-to(phone) {
                    flex-direction: row;
                    justify-content: space-between;
                }

                .list_text {
                    width: 100%;
                    @include respond-to(phone) {
                        width: calc(100% - 144px);
                    }

                    .list_upper {
                        width: 100%;
                        margin-right: 4px;

                        .tag_container {
                            font-weight: $fw-light;
                            font-size: $fs-sm;
                            margin-bottom: 4px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;
                            white-space: nowrap;
                            color: $white;
                            padding: 2px 0;

                            span {
                                color: $white;
                                background-color: $main-color;
                                padding: 1px 6px 2px 6px;
                                border-radius: 2px;
                                margin-right: 4px;
                                margin-bottom: 2px;
                                font-size: $fs-sm;
                                display: inline;
                            }
                            span.review-grey {
                                background-color: $lightgrey;
                            }
                        }

                        .price_container {
                            color: $main-color;
                            font-weight: $fw-bold;
                            font-size: $fs-xl;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            .roomType {
                                color: #1e90ff;
                                font-size: $fs-lg;
                                font-weight: $fw-bold;
                            }

                            .new {
                                font-size: $fs-lg;
                                font-weight: $fw-regular;
                                color: rgb(241, 83, 83);
                            }

                            &.review-grey {
                                color: $grey;

                                .roomType {
                                    color: inherit;
                                }
                            }
                        }
                    }

                    .list_mid {
                        margin-bottom: 4px;
                        width: 100%;

                        > div {
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: $fs-md;
                            color: $grey;
                            @include respond-to(phone) {
                                font-size: $fs-sm;
                            }
                        }
                    }

                    .list_lower {
                        font-size: $fs-xs;
                        color: $grey;

                        .keywords_container {
                            position: relative;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;
                            white-space: nowrap;

                            span {
                                padding: 2px 6px;
                                background-color: $grey-border-color;
                                color: $grey;
                                border-radius: 2px;
                                font-size: $fs-xs;
                            }
                        }
                    }
                }

                .list_img {
                    .pic_container {
                        width: 100%;
                        height: 200px;
                        margin-bottom: 8px;
                        border-radius: 8px;
                        overflow: hidden;
                        border: 1px solid $grey-border-color;
                        position: relative;
                        @include respond-to(phone) {
                            width: 138px;
                            height: 100%;
                            margin-bottom: 0;
                        }

                        > img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: transform 0.2s ease-in-out 0s;
                        }
                        .discount {
                            color: $white;
                            background-color: rgb(241, 83, 83);
                            padding: 1px 4px 2px 4px;
                            border-top-right-radius: 8px;
                            border-bottom-left-radius: 8px;
                            font-size: $fs-md;
                            font-weight: $fw-light;
                            display: block;
                            position: absolute;
                            top: 0;
                            right: 0;

                            @include respond-to(phone) {
                                font-size: $fs-sm;
                            }
                        }

                        &.review-grey {
                            > img {
                                filter: brightness(0.5)
                            }
                            .discount {
                                background-color: $grey;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 거래후기 */
.review {
    width: 100%;
    max-width: $content_max_width;
    margin: auto;
    background-color: $white;
    margin-top: 16px;

    .review-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        font-size: $fs-xl;
        font-weight: $fw-bold;
    }
}

.request_container {
    margin: auto;
    padding: 28px 12px !important;
    width: 100%;
    max-width: $content_max_width;
    text-align: center;
    background-color: #e2f3ff !important;
    border-radius: 8px;
    overflow: hidden;
    @include respond-to(phone) {
        border-radius: 0;
    }
    
    .request_text_container {
        margin-top: 20px;
        font-size: $fs-xl;
        font-weight: $fw-bold;
        position: relative;
        z-index: 2;
        @include respond-to(phone) {
            margin-top: 12px;
        }

        > span {
            display: block;
            margin-bottom: 8px;
            font-size: $fs-md;
            font-weight: $fw-light;
            color: $grey;
        }
    }

    .request_btn {
        margin-top: 8px;
    }

    img {
        width: 100%;
        position: relative;
        z-index: 1;
        @include respond-to(phone) {
            top: -120px;
            opacity: 0.2;
        }
    }
}

/* 에러 메세지 */
.error_container {
    margin: auto;
    padding: 60px 0;
    width: 100%;
    max-width: $content_max_width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    font-size: $fs-lg;
    font-weight: $fw-regular;
    color: $font-color;

    object {
        padding: 0 40px;
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 300px;
        margin: auto;
    }
}

/* footer */
footer {
    background-color: $article-bg-color;
    color: $font-color;
}
