/*
*   list.scss
*   매물 리스트 페이지
*/

/* 변수 import */
@import "variables.scss";

/* local variables */
$content_max_width: 1024px;


/* upper */
.form_container {
    margin-top: 64px;
    padding: 0 40px;
    border-bottom: 1px solid $grey_border_color;

    @include respond-to(phone) {
        position: fixed;
        top: 64px;
        margin-top: 0;
        padding: 0;
        width: 100%;
        background-color: $white;
        border-bottom: none;
        z-index: 3;
    }

    .form-inner {
        width: 100%;
        max-width: $content_max_width;
        margin: auto;
        display: flex;
        align-items: center;
        @include respond-to(phone) {
            border-bottom: 3px solid $main_color;
        }

        /* 지역선택 */
        #univ_form {
            width: 100%;
            flex: 1;
            position: relative;
            max-width: $content_max_width;
            margin: auto;
            height: 47px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            @include respond-to(phone) {
                border: none;
            }

            &:before {
                /* 화살표 대체 */
                content: "";
                position: absolute;
                top: calc(50% - 2px);
                left: 12px;
                width: 0;
                height: 0;
                margin-top: -1px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #666;
            }

            label {
                position: absolute;
                top: 1px;
                /* 위치정렬 */
                left: 28px;
                /* 위치정렬 */
                font-size: $fs_md;
                padding: 0.5em 0.5em;
                /* select의 여백 크기 만큼 */
                z-index: -1;

                /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
                @include respond-to(phone) {
                    font-size: $fs_sm;
                    padding: 0.8em 0.5em;
                }
            }

            #univ_select {
                flex: 1;
                height: auto;
                /* 높이 초기화 */
                line-height: normal;
                /* line-height 초기화 */
                font-family: inherit;
                /* 폰트 상속 */
                padding: 0.8em 0.5em;
                /* 여백과 높이 결정 */
                border: 0;
                opacity: 0;
                /* 숨기기 */
                font-size: $fs_sm;
                filter: alpha(opacity=0);
                /* IE8 숨기기 */
                -webkit-appearance: none;
                /* 네이티브 외형 감추기 */
                -moz-appearance: none;
                appearance: none;
            }
        }

        .tune_container {
            width: 64px;
            height: 64px;
            border-left: 1px solid $grey_border_color;
            border-right: 1px solid $grey_border_color;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 12px;
            cursor: pointer;
            i {
                font-size: $fs_lg;
            }
        }
    }

    /* 결과 필터 */
    #hashtag_container {
        width: 100%;
        max-width: $content_max_width;
        margin: auto;
        background-color: $white;
        position: relative;
        top: 17px;
        left: 0;
        visibility: hidden;

        @include respond-to(phone) {
            top: 0;
        }

        &.visible {
            visibility: visible;
        }

        > form {
            position: absolute;
            width: 100%;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: $white;

            .input_container {
                padding: 0 12px;

                .hashtag_title {
                    font-size: 16px;
                    font-weight: 400;
                    margin: auto;
                    margin-top: 16px;
                    margin-bottom: 4px;
                    width: 100%;
                }

                .hashtag_list {
                    margin: auto;
                    width: 100%;

                    input[type="checkbox"] {
                        display: none;
                    }

                    input[type="range"] {
                        display: inline-block;
                        -webkit-appearance: none;
                        background-color: #bdc3c7;
                        width: calc(100% - 100px);
                        height: 3px;
                        margin-right: 4px;
                        outline: 0;
                    }

                    input[type="range"]::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        background-color: $main_color;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        border: 1px solid $white;
                        cursor: pointer;
                        transition: transform 0.2s ease-in-out;
                    }

                    ​ input[type="range"]::-webkit-slider-thumb:hover {
                        background-color: $white;
                        border: 2px solid $main_color;
                    }

                    input[type="range"]::-webkit-slider-thumb:active {
                        transform: scale(1.3);
                    }
                }
            }

            .submit_container {
                width: 100%;
                height: 48px;
                margin: auto;
                text-align: center;
                margin-top: 16px;
                display: flex;
                justify-content: center;
                align-items: stretch;

                input[type="submit"] {
                    flex: 1;
                    box-sizing: border-box;
                    border-bottom-left-radius: 12px;
                    background: $main_color;
                    border: 1px solid $main_color;
                    color: white;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 300;
                }

                a {
                    flex: 1;
                    box-sizing: border-box;
                    border-bottom-right-radius: 12px;
                    display: inline-block;
                    font-size: $fs_md;
                    font-weight: $fw_light;
                    color: $main_color;
                    text-decoration: none;
                    border: 1px solid $main_color;
                    vertical-align: bottom;
                    line-height: 44px;
                }
            }

            input[type="checkbox"] + label span {
                color: rgba(0, 0, 0, 0.7);
                position: relative;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                line-height: 1.2;
                clear: both;
                margin: 4px 8px 4px 0;
                padding: 4px 8px;
                border: 1px solid #eee;
                border-radius: 40px;
                font-size: 14px;
            }

            input[type="checkbox"]:checked + label span {
                background-color: rgb(30, 144, 255);
                color: white;
                border: 1px solid #eee0;
            }
        }
    }
}

.top_btn {
    display: none;
    position: fixed;
    left: calc(50% + 316px);
    background-color: #fff;
    bottom: 80px;
    line-height: 12px;
    text-align: center;
    width: 36px;
    height: 32px;
    padding: 2px !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* lower: 매물 리스트 컨테이너 */
#lower {
    width: 100%;
    display: block;
    background-color: $white;
    padding: 28px 0;

    @include respond-to(phone) {
        margin-top: 116px;
        padding-top: 0;
        border: none;
    }

    /* list Title */
    .listTitle {
        margin: auto;
        width: 100%;
        max-width: $content_max_width;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: 12px 16px;
        font-size: $fs_xl;
        font-weight: $fw_bold;

        .sortBtnContainer {
            font-size: $fs_lg;
            font-weight: $fw_regular;
            color: #aaa;

            .sortBtn {
                margin: 0 2px;
                cursor: pointer;

                &.active {
                    color: $font_color;
                }
            }
        }
    }

    /* list */
    #main {
        margin: auto;
        width: 100%;
        max-width: $content_max_width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border-top: 1px solid $grey_border_color;

        > a {
            height: 209px;
            display: block;
            box-sizing: border-box;
            text-decoration: none;
            color: $font_color;
            padding: 28px 16px;
            background-color: $white;
            width: 100%;

            .list_wrapper {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: stretch;

                .list_left {
                    width: calc(100% - 144px);

                    .list_upper {
                        width: 100%;
                        margin-right: 4px;

                        .tag_container {
                            font-weight: $fw_light;
                            font-size: $fs_sm;
                            margin-bottom: 4px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;
                            white-space: nowrap;
                            color: $white;
                            padding: 2px 0;

                            span {
                                color: $white;
                                background-color: $main_color;
                                padding: 1px 4px 2px 4px;
                                border-radius: 2px;
                                margin-right: 4px;
                                margin-bottom: 2px;
                                font-size: $fs_sm;
                                display: inline;
                            }
                        }

                        .price_container {
                            color: $main_color;
                            font-weight: $fw_regular;
                            font-size: $fs_xl;
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            .roomType {
                                color: #1e90ff;
                                font-size: 20px;
                                font-weight: 500;
                            }

                            .new {
                                font-size: 20px;
                                color: rgb(241, 83, 83);
                            }
                        }
                    }

                    .list_mid {
                        margin: 8px 0;
                        font-size: 14px;
                        color: #777;
                        width: 100%;

                        > div {
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .list_lower {
                        font-size: $fs_xs;
                        color: rgba(0, 0, 0, 0.4);

                        .keywords_container {
                            position: relative;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: 100%;
                            white-space: nowrap;

                            span {
                                padding: 2px 6px;
                                background-color: rgba(0, 0, 0, 0.03);
                                color: #777;
                                border-radius: 2px;
                                font-size: 12px;
                            }
                        }
                    }
                }

                .list_right {
                    img {
                        width: 10px;
                        margin-right: 4px;
                    }

                    .pic_container {
                        width: 138px;
                        height: 100%;
                        position: relative;

                        > div {
                            width: 100%;
                            height: 100%;
                            border-radius: 8px;
                        }
                        .discount {
                            color: $white;
                            background-color: rgb(241, 83, 83);
                            padding: 1px 4px 2px 4px;
                            border-top-right-radius: 8px;
                            border-bottom-left-radius: 8px;
                            font-size: $fs_sm;
                            display: block;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    .request_container {
        margin: auto;
        padding: 28px 12px !important;
        width: 100%;
        max-width: $content_max_width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        font-size: $fs_md;
        font-weight: $fw_light;
        color: #777;
        text-align: center;

        .request_button_container {
            margin-top: 8px;
            font-size: $fs_md;
            text-decoration: underline;
            font-weight: $fw_regular;
        }
    }

    .review {
        width: 100%;
        max-width: $content_max_width;
        margin: auto;
        background-color: $white;
        margin-top: 16px;

        .review-title {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;
            font-size: $fs_xl;
            font-weight: $fw_bold;
        }

        .review-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-top: 1px solid $grey_border_color;

            > a {
                height: 201px;
                display: block;
                box-sizing: border-box;
                text-decoration: none;
                color: #333;
                padding: 24px 16px;
                background-color: $white;
                width: 100%;
    
                .list_wrapper {
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;
                    align-items: stretch;
    
                    .list_left {
                        width: calc(100% - 144px);
    
                        .list_upper {
                            width: 100%;
                            margin-right: 4px;
    
                            .tag_container {
                                font-weight: $fw_light;
                                font-size: $fs_sm;
                                margin-bottom: 4px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width: 100%;
                                white-space: nowrap;
                                color: $white;
                                padding: 2px 0;
    
                                span {
                                    color: $white;
                                    background-color: $grey;
                                    padding: 1px 4px 2px 4px;
                                    border-radius: 2px;
                                    margin-right: 4px;
                                    margin-bottom: 2px;
                                    font-size: $fs_sm;
                                    display: inline;
                                }

                                .color {
                                    background-color: $main_color;
                                    color: $white;
                                }
                            }
    
                            .price_container {
                                color: $grey;
                                font-weight: $fw_regular;
                                font-size: $fs_xl;
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
    
                                .roomType {
                                    color: $grey;
                                    font-size: 20px;
                                    font-weight: 500;
                                }
    
                                .new {
                                    font-size: 20px;
                                    color: rgb(241, 83, 83);
                                }
                            }
                        }
    
                        .list_mid {
                            margin: 8px 0;
                            font-size: 14px;
                            color: #777;
                            width: 100%;
    
                            > div {
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
    
                        .list_lower {
                            font-size: $fs_xs;
                            color: rgba(0, 0, 0, 0.4);
    
                            .keywords_container {
                                position: relative;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width: 100%;
                                white-space: nowrap;
    
                                span {
                                    padding: 2px 6px;
                                    background-color: rgba(0, 0, 0, 0.03);
                                    color: #777;
                                    border-radius: 2px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
    
                    .list_right {
                        img {
                            width: 10px;
                            margin-right: 4px;
                        }
    
                        .pic_container {
                            width: 138px;
                            height: 100%;
                            position: relative;
    
                            > div {
                                width: 100%;
                                height: 100%;
                                border-radius: 8px;
                            }
                            .discount {
                                color: $white;
                                background-color: rgb(241, 83, 83);
                                padding: 1px 4px 2px 4px;
                                border-top-right-radius: 8px;
                                border-bottom-left-radius: 8px;
                                font-size: $fs_sm;
                                display: block;
                                position: absolute;
                                top: 0;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* main + roomList */
.error_container {
    margin: auto;
    padding: 60px 0;
    width: 100%;
    max-width: $content_max_width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #555;
    letter-spacing: -0.4px;
}

/* footer */
footer {
    background-color: $grey_border_color;
    color: $font_color;
}
