/*
*   create.scss
*   매물 등록 페이지
*/


/* 변수 import */
@import "variables.scss";

/* local variables */
$content_max_width: 1024px;

body { background-color: $white; }

.wrapper {
    max-width: $content_max_width;
    width: 100%;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 80px;
    background-color: $white;
    padding: 16px 0;
    @include respond-to(phone) {
        margin-top: 48px;
    }

    h1 {
        text-align: left;
        font-size: $fs-xl;
        font-weight: $fw-bold;
        padding: 0 16px 20px;
        margin-bottom: 80px;
        border-bottom: 2px solid $lightgrey;
        @include respond-to(phone) { 
            padding: 0 12px 20px; 
        }

        span { 
            font-weight: $fw-regular; 
            font-size: $fs-lg 
        }
    }
    .article-list-container {
        h3 {
            font-size: $fs-lg;
            padding: 0 16px 12px;
            border-bottom: 1px solid $grey-border-color;
        }

        article {
            border-bottom: 1px solid $article-bg-color;
            a {
                text-decoration: none;
                color: $font-color;
                display: flex;
                align-items: stretch;
                width: 100%;
                height: 200px;
                padding: 16px;
                justify-content: space-between;

                .text-container {
                    .date {
                        color: $grey;
                        font-size: $fs-sm;
                        margin-bottom: 4px;
                    }

                    .tradeType {
                        color: #1e90ff;
                        font-size: $fs-lg;
                        font-weight: $fw-bold;
                    }
                    .price {
                        color: $main-color;
                        font-size: $fs-xl;
                        font-weight: $fw-bold;
                    }
                    .line1, .line2 {
                        font-size: $fs-md;
                        margin-bottom: 4px;
                    }

                }

                .img {
                    flex: 1;
                    max-width: 168px;
                    background-color: $article-bg-color;
                    border-radius: 4px;
                }
            }
        }
    
    }
    
       

    
}