/*
*   reservation.scss
*   예약 페이지
*/

/* 변수 import */
@import "variables.scss";

/* local variables */
$content_max_width: 1024px;

header { position: absolute; }

.wrapper {
    width: 100%;
    max-width: $content_max_width;
    margin: auto;
    padding: 64px 0;
    @include respond-to(phone) { padding: 48px 0; }
}

h1 {
    display: block;
    font-size: $fs-xl;
    font-weight: $fw-regular;
    padding-bottom: 8px;
    margin-top: 40px;
    border-bottom: 3px solid $grey;
    @include respond-to(phone) { 
        margin: 20px 16px 0 16px; 
    }
}

.success-msg {  
    margin-top: 20px;
    @include respond-to(phone) { padding: 0 16px; }

    p {
        padding: 20px 0;
        font-size: $fs-md;
        font-weight: $fw-regular;
        word-break: keep-all;
        background-color: $article-bg-color;
        border-radius: 4px;
        text-align: center;
        @include respond-to(phone) { font-size: $fs-sm; }
    }
}

h2 {
    display: block;
    font-size: $fs-lg;
    font-weight: $fw-regular;
    padding-bottom: 4px;

    > span {
        font-size: $fs-sm;
        font-weight: $fw-light;
        color: $grey;
        margin-left: 8px;
        @include respond-to(phone) { 
            display: block;
            margin: 0;
            font-size: $fs-xs;
        }
    }

    .remittance-copy {
        display: inline-block;
        background-color: $article-bg-color;
        padding: 2px 4px;
        border-radius: 2px;
        color: $font-color;
        cursor: pointer;

        &:hover { font-weight: $fw-regular; }
    }
}

.table-wrapper {
    padding-top: 48px;
    @include respond-to(phone) {
        padding: 40px 16px 0 16px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border-top: 2px solid $grey-border-color;

        caption {
            caption-side: bottom;
            text-align: left;

            ul {
                list-style: none;

                li {
                    padding-left: 12px;
                    font-size: $fs-sm;
                    color: $grey;
                    position: relative;
                    font-weight: $fw-light;
                    @include respond-to(phone) { font-size: $fs-xs; }

                    &::before {
                        content: '-';
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }

        }
        
        th {
            padding: 10px 15px 0 0;
            background-color: $article-bg-color;
            border-right: 1px solid $grey-border-color;
            border-bottom: 1px solid $grey-border-color;
            font-size: $fs-md;
            font-weight: $fw-regular;
            width: 20%;
            vertical-align: top;
            text-align: right;
            min-width: 120px;
            @include respond-to(phone) { font-size: $fs-sm; }

            .xi-help-o {
                position: relative;
                color: $grey;

                > span {
                    position: absolute;
                    width: 320px;
                    text-align: left;
                    left: 40px;
                    top: -8px;
                    padding: 8px;
                    font-size: 14px;
                    color: $font-color;
                    background-color: $white;
                    border: 1px solid $grey-border-color;
                    border-radius: 4px;
                    line-height: 16px;
                    visibility: hidden;
                    @include respond-to(phone) { width: 180px; }
                }

                &:hover > span {
                    visibility: visible;
                }
            }
        }
        td {
            border-bottom: 1px solid $grey-border-color;
            vertical-align: top;
            text-align: left;
            padding: 10px 0 10px 15px;
            @include respond-to(phone) { font-size: $fs-sm; }

            ul {
                list-style: none;
                margin-top: 8px;
                
                li {
                    font-size: $fs-sm;
                    color: $grey;
                    font-weight: $fw-light;
                    @include respond-to(phone) { font-size: $fs-xs; }
                }
            }
        }

        input {
            width: 100%;
            max-width: 180px;
            font-size: $fs-sm;
            padding: 2px;
            @include respond-to(phone) { padding: 0; }
        }

        
    }

    .img-table {
        th {
            padding: 10px 15px;
            background: none;
            border-right: 0;
            @include respond-to(phone) { padding: 10px 0; }
        }

        .article-img {
            width: 180px;
            height: 120px;
            background-color: $article-bg-color;
            border-radius: 4px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            @include respond-to(phone) { width: 132px; }
        }

        .article-title {
            font-size: $fs-md;
            font-weight: $fw-bold;
            @include respond-to(phone) { font-size: $fs-sm; }
        }

        .article-data {
            font-size: $fs-sm;
            font-weight: $fw-regular;
            color: $grey;
            margin-top: 8px;
            @include respond-to(phone) { 
                margin-top: 4px;
                font-size: $fs-xs; 
                line-height: $fs-sm;
            }
            margin-bottom: 8px;
            line-height: 20px;
        }
        
        .contract > a {
            display: inline-block;
            padding: 4px 12px;
            background-color: $main-color;
            border-radius: 4px;
            font-size: $fs-sm;
            color: white;
        }
    }
}

.btn-container {
    padding: 60px 16px 40px;

    input[type="submit"], input[type="button"], button {
        display: block;
        appearance: none;
        -webkit-appearance: none;
        margin: auto;
        padding: 20px 120px;
        border-radius: 8px;
        cursor: pointer;
        background-color: $main-color;
        color: $white;
        border: 0;
        font-size: $fs-lg;
        font-weight: $fw-regular;
        @include respond-to(phone) { width: 100%; }
    }
}
