/*
*   reservation.scss
*   예약 페이지
*/

/* 변수 import */
@import "variables.scss";

/* local variables */
$content_max_width: 1024px;

header { position: absolute; }

.wrapper {
    width: 100%;
    max-width: $content_max_width;
    margin: auto;
    padding: 64px 0;
    @include respond-to(phone) { padding: 48px 0; }
}

h1 {
    display: block;
    font-size: $fs-xl;
    font-weight: $fw-regular;
    padding-bottom: 8px;
    margin-top: 40px;
    border-bottom: 3px solid $grey;
    @include respond-to(phone) { 
        margin: 20px 16px 0 16px; 
    }
}

h2 {
    display: block;
    font-size: $fs-lg;
    font-weight: $fw-regular;
    padding-bottom: 4px;

    > span {
        font-size: $fs-sm;
        font-weight: $fw-light;
        color: $grey;
        margin-left: 8px;
        @include respond-to(phone) { 
            display: block;
            margin: 0;
        }
    }
}

.table-wrapper {
    padding-top: 40px;
    @include respond-to(phone) {
        padding: 40px 16px 0 16px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border-top: 2px solid $grey-border-color;
        
        th {
            padding: 10px 15px 0 0;
            background-color: $article-bg-color;
            border-right: 1px solid $grey-border-color;
            border-bottom: 1px solid $grey-border-color;
            font-size: $fs-md;
            font-weight: $fw-regular;
            width: 20%;
            vertical-align: top;
            text-align: right;
            min-width: 120px;
        }
        td {
            border-bottom: 1px solid $grey-border-color;
            vertical-align: top;
            text-align: left;
            padding: 10px 0 10px 15px;
        }

        input {
            width: 100%;
            max-width: 180px;
        }

        
    }

    .img-table {
        th {
            padding: 10px 15px;
            background: none;
            border-right: 0;
            @include respond-to(phone) { padding: 10px 0; }
        }

        .article-img {
            width: 160px;
            height: 100px;
            background-color: $article-bg-color;
            border-radius: 4px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .article-title {
            font-size: $fs-md;
            font-weight: $fw-bold;
        }

        .article-data {
            font-size: $fs-sm;
            font-weight: $fw-regular;
            color: $grey;
            margin-top: 8px;
        }
    }
}
.btn-container {
    padding: 40px 16px;

    input[type="submit"], input[type="button"] {
        display: block;
        appearance: none;
        -webkit-appearance: none;
        margin: auto;
        padding: 20px 60px;
        border-radius: 8px;
        cursor: pointer;
        background-color: $main-color;
        color: $white;
        border: 0;
        font-size: $fs-lg;
        font-weight: $fw-bold;
        @include respond-to(phone) { width: 100%; }
    }
}
