<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- SEO START -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
	<meta name="keyword" content="방단기, 단기방, 서울 단기임대, 서울 단기원룸, 무보증 원룸, 원룸양도, 방임대, 방양도, 전대차">
	<meta name="author" content="패러다임">
	<meta itemprop="name" content="방단기">
	<meta itemprop="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
	<meta name="twitter:title" content="방단기">
	<meta name="twitter:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
	<meta property="og:title" content="방단기">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="방단기">
	<meta property="og:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
	<meta property="og:url" content="https://bangdangi.web.app/aboutUs">
	<link rel="canonical" href="https://bangdangi.web.app/aboutUs" />
	<!-- SEO END -->
	<title>방단기</title>
	<link rel="stylesheet" href="/css/common.css" />
	<link rel="stylesheet" href="/css/about.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>

<body>
	<div id="main">
		<div class="textBox">
			<div class="big">
				단기로 방 구할 땐,<br>방단기
			</div>
			<div class="small">방단기는 단기로 원룸을 구하거나, 단기로 방을 내놓을 때 사용할 수 있는<br>단기 원룸 거래 플랫폼입니다.
			</div>
			<a href="http://pf.kakao.com/_HxcGdT">
				<button id="btn">문의하기</button>
			</a>

		</div>
		<div class="imgBox">
			<img src="img/about_1.jpg">
		</div>
		<div class="textBox">
			<div class="big">
				부담되는 1년 계약<br>단기로 방을 구할 수는 없을까?
			</div>
			<div class="small">
				대학생들 사이에서만 거래되었던 양도 매물들을 하나씩 모으는 것을 시작으로 방단기가 만들어졌습니다.
			</div>
		</div>
		<div class="imgBox">
			<img src="img/about_2.jpg">
		</div>
		<div class="textBox">
			<div class="big">
				자취방이 빌 때, 내야하는 월세가 부담되는 나
			</div>
			<div class="small">
				1년 계약으로 구한 나의 자취방. 귀향, 인턴, 여행 등으로 한달이상 방이 빌 때 내야하는 월세가 부담이라면 방단기에 매물을 등록해보세요.
			</div>
		</div>
		<div class="imgBox">
			<img src="img/about_3.jpg">
		</div>
		<div class="textBox">
			<div class="big">
				다른 지역에서 단기로 지내야 한다면
			</div>
			<div class="small">
				인턴, 학업, 생활,여행 등으로 다른 지역에서 살 때 어디서 머무시나요? 대학로 근처 번화가에서 합리적인 가격으로 지내 보세요.
			</div>
		</div>
		<div class="imgBox">
			<img src="img/about_4.jpg">
		</div>
		<div class="textBox">
			<div class="big">
				누구나 월세부담은 있습니다.
			</div>
			<div class="small">
				빈 자취방의 월세가 부담된다면 언제든지 방단기에 매물을 등록해주세요.
			</div>
		</div>
	</div>
</body>

</html>