<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'Pageview',
            'pagePath': '/create/',
            'pageTitle': 'create'
        });
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TC8GC5C');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO START -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta name="keyword" content="방단기, 단기방, 서울 단기임대, 서울 단기원룸, 무보증 원룸, 원룸양도, 방임대, 방양도, 전대차">
    <meta name="author" content="방단기">
    <meta itemprop="name" content="방단기">
    <meta itemprop="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta name="twitter:title" content="방단기">
    <meta name="twitter:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta property="og:title" content="방단기">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="방단기">
    <meta property="og:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta property="og:url" content="https://bangdangi.web.app/">
    <link rel="canonical" href="https://bangdangi.web.app/" />
    <!-- SEO END -->
    <title>방단기</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/headerBar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="../css/create.css">

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC8GC5C" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('templates/gnb') %>

    <section class="wrapper">

        <h1>매물등록</h1>

        <form class="form-horizontal" action="/board/create_process" method="post">

            <!-- block 1 -->
            <div class="block1 block">
                <!-- 제목 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="title">제목</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요" required>
                    </div>
                </div>
            </div>

            <!-- block 2 -->
            <div class="block2 block">
                <h3 class="block-title">건물정보</h3>
                <!-- 주소 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="address">주소</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="address" placeholder="주소" readonly required>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">검색</button>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- 건물 상세위치 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="locationS">위치설명</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="locationS" placeholder="예)지하철 5분거리">
                    </div>
                </div>
            </div>

            <!-- block 3 -->
            <div class="block3 block">
                <h3 class="block-title">매물정보</h3>

                <!-- 보증금 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="deposit">보증금</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="number" class="form-control" name="deposit" placeholder="보증금"
                                aria-describedby="price-addon">
                            <span class="input-group-addon" id="price-addon">만원</span>
                        </div>
                    </div>
                </div>

                <!-- 월세 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="price">월세</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="number" class="form-control" name="price" placeholder="월세"
                                aria-describedby="deposit-addon">
                            <span class="input-group-addon" id="deposit-addon">만원</span>
                        </div>
                    </div>
                </div>

                <!-- 관리비 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="expense">관리비</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="number" class="form-control" name="expense" placeholder="관리비"
                                aria-describedby="expense-addon">
                            <span class="input-group-addon" id="expense-addon">만원</span>
                        </div>
                    </div>
                </div>

                <!-- 시작날짜 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="startDate">시작날짜</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="date" class="form-control" name="startDate" placeholder="시작날짜"
                                aria-describedby="startDate-addon">
                            <span class="input-group-addon" id="startDate-addon">부터</span>
                        </div>
                    </div>
                </div>

                <!-- 끝날짜 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="endDate">끝날짜</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="date" class="form-control" name="endDate" placeholder="끝날짜"
                                aria-describedby="endDate-addon">
                            <span class="input-group-addon" id="endDate-addon">까지</span>
                        </div>
                    </div>
                </div>

                <!-- 가격태그 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="discountKeywords">가격 키워드</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="discountKeywords" value="월세지원"> 월세지원
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="discountKeywords" value="보증금지원"> 보증금지원
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="discountKeywords" value="무보증금"> 무보증금
                        </label>
                    </div>
                </div>

                <!-- 기간태그 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="dateKeywords">가격 키워드</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="dateKeywords" value="1개월이내"> 1개월이내
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="dateKeywords" value="2개월"> 2개월
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="dateKeywords" value="3개월"> 3개월
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="dateKeywords" value="6개월 이내"> 6개월 이내
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="dateKeywords" value="1년 이내"> 1년 이내
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="dateKeywords" value="1년 이상"> 1년 이상
                        </label>
                    </div>
                </div>

                <!-- 기타태그 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="keywords">기타 키워드</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="keywords" value="주차가능"> 주차가능
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="keywords" value="풀옵션"> 풀옵션
                        </label>
                    </div>
                </div>

                <!-- 방 층수 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="floor">층수</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="number" class="form-control" name="floor" placeholder="층수"
                                aria-describedby="floor-addon">
                            <span class="input-group-addon" id="floor-addon">층</span>
                        </div>
                    </div>
                </div>

                <!-- 남성/여성 전용 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="only">제한사항</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="only" value="남성전용"> 남성전용
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="only" value="여성전용"> 여성전용
                        </label>
                    </div>
                </div>

            </div>

            <!-- block 4 -->
            <div class="block4 block">
                <h3 class="block-title">거래정보</h3>

                <!-- 거래형태 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="tradeType">거래형태</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="tradeType" value="주인직"> 주인직
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tradeType" value="양도"> 양도
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tradeType" value="전대"> 전대
                        </label>
                    </div>
                </div>

                <!-- 연락처 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="contact">연락처</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="contact" placeholder="휴대폰 번호">
                    </div>
                </div>

                <!-- 상세설명 -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="text">상세설명</label>
                    <div class="col-sm-10">
                        <textarea name="text" class="form-control" rows="5" placeholder="상세설명을 적어주세요"
                            required></textarea>
                    </div>
                </div>
            </div>

            <!-- 취소 / 제출 -->
            <div class="block5 block">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input class="form-control input-lg" type="submit" value="등록">
                    </div>
                </div>
            </div>

        </form>

    </section> <!-- End of wrapper -->

    <%- include('templates/footer') %>
</body>
<script>
    var selectToggleBtn = document.querySelectorAll('.select_btn');
    var chkbox = document.querySelectorAll('input[type="checkbox"]');
    var radio = document.querySelectorAll('input[type="radio"]');

    // 체크박스에 체크 또는 해제했을 때 텍스트 조작
    chkbox.forEach((cb) => {
        cb.onchange = function () {
            let field = this.name;
            var text = document.querySelector(`.select_btn_text[data-field="${field}"]`);
            if (this.checked) { // 체크된 경우
                if (text.innerText == text.dataset.placeholder) text.innerText = this.value; // 체크되어있는게 없는 경우
                else text.innerText = text.innerText + ',' + this.value; // 체크되어있는게 있는 경우
            } else { // 체크해제된 경우
                // 체크해제된 문자열 제거
                text.innerText = text.innerText.replace(`,${this.value},`, ','); // 해당 문자가 중간에 있는 경우
                text.innerText = text.innerText.replace(`,${this.value}`, ''); // 해당 문자가 제일 뒤에 있는 경우
                text.innerText = text.innerText.replace(`${this.value},`, ''); // 해당 문자가 제일 앞에 있는 경우
                text.innerText = text.innerText.replace(`${this.value}`, ''); // 해당 문자가 혼자 있는 경우
                // 전부 지워졌는지 검사
                if (text.innerText == '') text.innerText = text.dataset.placeholder;
            }
        };
    })

    // 라디오박스 체크했을 때 텍스트 조작
    radio.forEach((r) => {
        r.onchange = function () {
            let field = this.name;
            var text = document.querySelector(`.select_btn_text[data-field="${field}"]`);
            text.innerText = this.value;
        }
    });

    // 각 항목 눌렀을 때 접혔다 펴졌다
    selectToggleBtn.forEach((b) => {
        b.addEventListener('click', function () {
            var type = this.dataset.field;
            var target = document.querySelector(`.select_input_container[data-field="${type}"]`);
            var icon = document.querySelector(`.select_btn[data-field="${type}"] i`);

            target.classList.toggle('hidden');
            icon.classList.toggle('xi-angle-down-min');
            icon.classList.toggle('xi-angle-up-min');
        });
    });

    // 입력 가능/불가능 토글 스위치
    document.querySelectorAll('.enable_toggle_btn').forEach((btn) => {
        btn.addEventListener('click', function () {
            let field = this.dataset.field;
            let input = document.querySelector(`input[data-field='${field}']`);
            if (this.classList.toggle('active')) {
                input.disabled = false;
            } else {
                input.value = '';
                input.disabled = true;
            }
        })
    })
</script>

</html>