<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO START -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta name="keyword" content="방단기, 단기방, 서울 단기임대, 서울 단기원룸, 무보증 원룸, 원룸양도, 방임대, 방양도, 전대차">
    <meta name="author" content="패러다임">
    <meta itemprop="name" content="방단기">
    <meta itemprop="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta name="twitter:title" content="방단기">
    <meta name="twitter:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta property="og:title" content="방단기">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="방단기">
    <meta property="og:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta property="og:url" content="https://bangdangi.web.app/">
    <link rel="canonical" href="https://bangdangi.web.app/" />
    <!-- SEO END -->
    <title>로그인 | 방단기</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>

<body>
    <div id="container">
        <main class="login-container">
            <div class="logo-container">
                <a href="https://bangdangi.web.app/"><img src="../img/bangdangi_logo_2.png"></a>
            </div>
            <div class="btn-container">
                <p>다른 서비스 계정으로 간편하게 로그인/회원가입</p>
                <button class="google_btn">
                    <img src="/img/login/google_logo.svg"><span>구글 계정으로 로그인</span>
                </button>
                <button class="kakao_btn">
                    <img src="/img/login/kakao_logo.svg"><span>카카오 계정으로 로그인</span>
                </button>
            </div>
        </main>
    </div>
</body>
<script src="/__/firebase/6.6.1/firebase-app.js"></script>
<script src="/__/firebase/6.1.0/firebase-auth.js"></script>
<script src="/__/firebase/init.js"></script>
<script src="/babel/dst/login.js"></script>

</html>