<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'Pageview',
            'pagePath': '/request',
            'pageTitle': 'request'
        });
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TC8GC5C');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO START -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta name="keyword" content="방단기, 단기방, 서울 단기임대, 서울 단기원룸, 무보증 원룸, 원룸양도, 방임대, 방양도, 전대차">
    <meta name="author" content="패러다임">
    <meta itemprop="name" content="방단기">
    <meta itemprop="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta name="twitter:title" content="방단기">
    <meta name="twitter:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta property="og:title" content="방단기">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="방단기">
    <meta property="og:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 서울 단기임대, 서울 단기원룸">
    <meta property="og:url" content="https://bangdangi.web.app/register">
    <link rel="canonical" href="https://bangdangi.web.app/register" />
    <!-- SEO END -->
    <title>매물등록 | 방단기</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel=stylesheet  href="css/common.css" />
    <link rel=stylesheet  href="css/headerBar.css" />
    <link rel=stylesheet  href="css/footer.css" />
    <link rel=stylesheet  href="css/register.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC8GC5C" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- 헤더 -->
    <header>
        <div id="header_inner">
            <a class="header_logo" href="https://bangdangi.web.app/">
                <img src="img/bangdangi_logo_2.png">
            </a>
            <ul class="nav">
                <li><a href="/request">이런방구해요</a></li>
                <li><a href="#">매물등록</a></li>
            </ul>
        </div>
    </header>
    <!-- 메인 컨텐츠 -->
    <div class="main">
        <!-- 매물등록 소개 블럭 -->
        <div class="block1">
            <div class="block1_img_container">
                <object data="/img/register/01.svg" type="image/svg+xml"></object>
            </div>
            <div class="block1_text_container">
                <div class="block1_text">
                    <h1>방단기가 다 하겠습니다</h1>
                    <p>
                        한페이지로 끝내는 매물등록!<br />
                        다양한 채널로 자동홍보!
                    </p>
                </div>
                <a href="http://pf.kakao.com/_HxcGdT/chat">방 등록하기</a>
            </div>
        </div>
        <!-- 푸터 -->
        <%- include('templates/footer') %>
    </div>
</body>

</html>