<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141137545-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'Pageview',
            'pagePath': '/request',
            'pageTitle': 'request'
        });
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TC8GC5C');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO START -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
    <meta name="keyword" content="방단기, 원룸임대, 원룸양도, 방임대, 방양도, 보증금">
    <meta name="author" content="패러다임">
    <meta itemprop="name" content="방단기">
    <meta itemprop="description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
    <meta name="twitter:title" content="방단기">
    <meta name="twitter:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
    <meta property="og:title" content="방단기">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="방단기">
    <meta property="og:description" content="방단기 | 단기 방 임대/양도, 보증금없는 방 임대/양도, 단기원룸, 대전원룸, 부산대원룸, 서울원룸, 부산원룸, 부경대원룸">
    <meta property="og:url" content="https://bangdangi.web.app/request">
    <link rel="canonical" href="https://bangdangi.web.app/request" />
    <!-- SEO END -->
    <title>방단기</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel=stylesheet type="text/css" href="css/common.css" />
    <link rel=stylesheet type="text/css" href="css/headerBar.css" />
    <link rel=stylesheet type="text/css" href="css/footer.css" />
    <link rel=stylesheet type="text/css" href="css/request.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC8GC5C" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- 헤더 -->
    <header>
        <div id="header_inner">
            <a class="header_logo" href="https://bangdangi.web.app/">
                <img src="img/bangdangi_logo_2.png">
            </a>
            <ul class="nav">
                <li><a href="#">이런방구해요</a></li>
                <li><a href="http://pf.kakao.com/_HxcGdT/chat">매물등록</a></li>
            </ul>
        </div>
    </header>
    <!-- 메인 컨텐츠 -->
    <div class="main">
        <!-- 이런방구해요 소개 -->
        <div class="block1">
            <div class="block1_img_container">
                <img src="img/request/question.svg">
            </div>
            <h1>이런 방 구해요!</h1>
            <p>찾고있는 방이 없나요?<br />방 요청을 등록하면 원하는 방을 무료로 찾아드립니다!</p>
            <div class="downarrow">
                <i class="xi-angle-down-thin"></i>
            </div>
        </div>
        <!-- 휴대폰  1 -->
        <div class="block2">
            <div class="block2_img_container">
                <img src="img/request/001.png">
            </div>
            <div>
                <h3>이런 방 구해요~</h3>
                <p>원하는 방의 조건을 남겨주시면</p>
            </div>
        </div>
        <!-- 휴대폰 2 -->
        <div class="block3">
            <div>
                <h3>그런 방 찾았어요!</h3>
                <p>방단기가 찾아서 알림을 드립니다</p>
            </div>
            <div class="block3_img_container">
                <img src="img/request/002.png">
            </div>
        </div>
        <!-- 버튼 -->
        <div class="block4">
            <div>
                <h3>지금 원하는 방을 요청해보세요</h3>
                <a href="http://pf.kakao.com/_fCxjwT/chat">방 요청하기</a>
            </div>
        </div>
        <!-- 푸터 -->
        <footer>
            <div class="footerContainer">
                <div class="footer_left">
                    <a href="/aboutUs">방단기 소개</a>
                    <a href="http://pf.kakao.com/_HxcGdT">문의하기</a>
                    <a href="#header_inner">TOP</a>
                </div>
                <!-- SNS 버튼 -->
                <div class="footer_right">
                    <a href="https://www.instagram.com/bang_dangi/?hl=ko">
                        <i class="xi-instagram"></i>
                    </a>
                    <a href="https://blog.naver.com/bangdangi">
                        <i class="xi-naver-square"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>

    <script>

    </script>
    <!-- Channel Plugin Scripts -->
    <script>
        (function () {
            var w = window;
            if (w.ChannelIO) {
                return (window.console.error || window.console.log || function () { })('ChannelIO script included twice.');
            }
            var d = window.document;
            var ch = function () {
                ch.c(arguments);
            };
            ch.q = [];
            ch.c = function (args) {
                ch.q.push(args);
            };
            w.ChannelIO = ch;
            function l() {
                if (w.ChannelIOInitialized) {
                    return;
                }
                w.ChannelIOInitialized = true;
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
                s.charset = 'UTF-8';
                var x = document.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s, x);
            }
            if (document.readyState === 'complete') {
                l();
            } else if (window.attachEvent) {
                window.attachEvent('onload', l);
            } else {
                window.addEventListener('DOMContentLoaded', l, false);
                window.addEventListener('load', l, false);
            }
        })();
        ChannelIO('boot', {
            "pluginKey": "5ce5e194-1fa1-4289-9d57-c84d88b225a0"
        });
    </script>
    <!-- End Channel Plugin -->
</body>

</html>