@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Noto Sans KR, AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #333;
    width: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #ebeef1;
}

/*
* 첫번째 블럭 : 제목 + 사진 + 매물정보
*/
.block1 {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 16px;
    margin-top: 16px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.titleBlock {
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    word-break: keep-all;
}
.infoBlock {
    display: flex;
    padding: 20px;
}
@media screen and (max-width: 600px) {
    .infoBlock {
        display: block;
    }
}

/*
* 이미지 슬라이더
*/
.slider_container {
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    flex: 1;
}
.mask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.02);
    overflow: hidden;
    display: flex;
    align-items: center;
}
.image_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: 0;
    transition: left 0.5s ease-in-out;
}
.image_container > div {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_btn {
    color: white;
    position: absolute;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    text-align: center;
    text-shadow: 0 0 4px #333;
}
.slider_btn_l {
    left: 10px;
}
.slider_btn_r {
    right: 10px;
}
.slider_counter {
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 4px 8px; 
    position: absolute;
    bottom: 12px;
    right: 16px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
@media screen and (max-width: 600px) {
    .slider_container {
        padding-bottom: 70%;
    }
}

/*
* 매물정보 컨테이너
*/
.info_container {
    flex: 1;
    padding-left: 20px;
}
.info_title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
}
.info_table {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
    height: 40px;
}
.cell_title {
    display: table-cell;
    font-size: 14px;
    font-weight: 400;
    width: 80px;
}
.cell_data {
    display: table-cell;
    font-size: 16px;
    font-weight: 500;
    word-break: keep-all;
}
@media screen and (max-width: 600px) {
    .info_container {
        padding: 0;
        margin-top: 20px;
    }
    .cell_data {
        text-align: right;
    }
}

/*
* 본문 블럭
*/
.block2 {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    margin-bottom: 16px;
}
.detail_title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.detail_text {
    white-space: pre-line;
    font-size: 16px;
}

/*
* 연락하기 버튼 블럭
*/
.contact_container {
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: auto;
}
.cancel_btn {
    margin: auto;
    color: #fff;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex: 2;
    background-color: #A0A7B4;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.cancel_arrow {
    display: none;
    margin: auto;
    color: #fff;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex: 1;
    background-color: #A0A7B4;
    box-sizing: border-box;
}
.contact_btn {
    margin: auto;
    background-color: #0ab9f1;
    color: white;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    margin-left: 8px;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .contact_container {
        position: fixed;
        bottom: 20px;
    }
    .cancel_btn {
        display: none;
    }
    .cancel_arrow {
        display: flex;
    }
    .contact_btn {
        margin: 0;
        border: none;
    }
}

/*
* 푸터
*/
footer {
    height: 80px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    padding: 0 8px;
    word-break: keep-all;
    color: gray;
    border-top: 1px solid rgba(0,0,0,0.1);
}
@media screen and (max-width: 600px) {
    footer {
        margin: 0;
        margin-bottom: 60px;
    }
}
