@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Noto Sans KR, AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #333;
    width: 100%;
}

div#container {
    background-color: #ebeef1;
    height: 100vh;
    width: 100vw;
}

.login_container {
    width: 100%;
    position: absolute;
    top: calc(50% - 140px);
}

.logo_container {
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}

.logo_container a {
    width: 30%;
    display: inline-block;
}

.logo_container img {
    width: 100%;
}

.btn_container {
    width: 100%;
    text-align: center;
    margin: auto;
}

.btn_container p {
    color: #555;
    margin-bottom: 16px;
}

.btn_container a {
    width: 52px;
    display: inline-block;
    height: 52px;
    margin: 0 8px;
    box-sizing: border-box;
    border-radius: 200px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.google_btn {
    background: center / cover no-repeat url('/img/google_logo.svg');
}

.kakao_btn {
    background: center / cover no-repeat url('/img/kakao_logo.svg');
}