@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500&subset=korean');
    * {
      padding: 0;
      margin: 0;
    }
    body {
      font-family: Noto Sans KR, AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
      font-weight: 300;
      background-color: #fff;
      color: #333;
      width: 100%;
    }

    header {
      display: flex;
      background-color: #3181ff;
      height: 80px;
      padding-left: 20px;
      align-items: center;
      font-size: 20px;
      color: white;
      font-weight: 400;
      position: fixed;
      width: 100%;
      top: 0;
    }

    header img {
      width: 104px;
      vertical-align: middle;
      margin-right: 12px;
    }

    #univ_form {
      margin-left: 40px;
      width: 240px;
    }

    #univ_select {
      width: 100%;
      border: 1px solid #e5e5e5;
      height: 40px;
      font-size: 14px;
      font-weight: 300;
      border-radius: 0;
      box-sizing: border-box;
      background-color: white;
    }

    #reload {
      margin-left: 12px;
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
    }

    #add, #download {
      margin-left: 12px;
      font-size: 16px;
      font-weight: 300;
      cursor: pointer;
    }

    .textNoWrap {
      text-overflow: ellipsis;
      white-space: nowrap !important;
      max-width: 280px;
    }

    /*
    *  update container
    */
    .update_container {
      width: 500px;
      height: 100vh;
      position: fixed;
      z-index: 999;
      background-color: #fff;
      top: 0;
      right: -520px;
      box-sizing: border-box;
      padding: 20px;
      border-left: 1px solid #e6e6e6;
      transition: all 0.4s ease;
      display: flex;
      flex-direction: column;
    }
    .update_open {
      right: 0 !important;
    }
    .update_header {
      display: flex;
      padding: 12px 4px;
      padding-right: 20px;
      padding-top: 4px;
      justify-content: space-between;
      align-items: center;
    }
    .update_close {
      width: 26px;
      height: 26px;
      text-align: center;
      background-color: #eee;
      border-radius: 40px;
      cursor: pointer;
    }
    .id_container {
      font-size: 16px;
      font-weight: 400;
    }
    .update_content {
      height: 100%;
      overflow-y: scroll;
      padding: 20px 4px;
      border: 1px solid #e6e6e6;
    }
    .field_container {
      transition: all 0.1s ease;
      padding: 10px 0;
      border-bottom: 1px solid #e6e6e6;
    }
    .field_container:hover {
      background-color: #f2f2f7;
    }
    .field_title {
      cursor: pointer;
      margin-bottom: 4px;
    }
    .field_title.null {
      color: #999;
    }
    .field_value.null {
      display: none;
    }
    .update_footer {
      padding: 30px 0;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-around;
      font-size: 18px;
      font-weight: 400;
    }
    .update_footer > div {
      width: 120px;
      height: 48px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      align-items: center;
      border-radius: 8px;
      transition: all 0.2s ease;
    }
    .update_footer > div:hover {
      background-color: #f2f2f7;
    }
    .update_confirm {
      color: #0f5e0f;
    }
    .update_delete {
      color: #f02525;
    }
    .update_loading {
      position: absolute;
      z-index: 1000;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: rgba(255,255,255,0.8);
      font-size: 40px;
      color: #666;
    }
    input[type="text"], input[type="number"], input[type="date"] {
      width: 300px;
      height: 28px;
      font-size: 14px;
      padding: 2px;
      margin: 2px 0;
    }
    textarea {
      width: 300px;
      height: 120px;
      font-size: 12px;
      padding: 2px;
      margin: 2px 0;
      border: 1px solid #e6e6e6;
      resize: none;
    }
    .file_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      height: 32px;
      padding: 2px;
    }
    .file_container > button {
      font-size: 12px;
      padding: 2px 4px;
      background-color: #fff;
      display: block;
      -webkit-appearance: none;
      cursor: pointer;
    }
    .file_container > input {
      font-size: 12px;
    }

    /* loading dot */
    #loading_container {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.4);
      top: 0;
      left: 0;
    }
    .loading {
      position: fixed;
      top: 50%;
      left: 50%;
      margin: -14px 0 0 -42px;
      padding: 10px;
      background: rgba(20, 20, 20, 0);
      }
      .loading-dot {
          float: left;
          width: 8px;
          height: 8px;
          margin: 0 4px;
          background: white;
        
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        
          opacity: 0;
        
          -webkit-box-shadow: 0 0 2px black;
          -moz-box-shadow: 0 0 2px black;
          -ms-box-shadow: 0 0 2px black;
          -o-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
        
          -webkit-animation: loadingFade 1s infinite;
          -moz-animation: loadingFade 1s infinite;
          animation: loadingFade 1s infinite;
      }
      .loading-dot:nth-child(1) {
          -webkit-animation-delay: 0s;
          -moz-animation-delay: 0s;
          animation-delay: 0s;
      }
      .loading-dot:nth-child(2) {
          -webkit-animation-delay: 0.1s;
          -moz-animation-delay: 0.1s;
          animation-delay: 0.1s;
      }
      .loading-dot:nth-child(3) {
          -webkit-animation-delay: 0.2s;
          -moz-animation-delay: 0.2s;
          animation-delay: 0.2s;
      }
      .loading-dot:nth-child(4) {
          -webkit-animation-delay: 0.3s;
          -moz-animation-delay: 0.3s;
          animation-delay: 0.3s;
      }
      @-webkit-keyframes loadingFade {
          0% { opacity: 0; }
          50% { opacity: 0.8; }
          100% { opacity: 0; }
      }
      @-moz-keyframes loadingFade {
          0% { opacity: 0; }
          50% { opacity: 0.8; }
          100% { opacity: 0; }
      }
      @keyframes loadingFade {
          0% { opacity: 0; }
          50% { opacity: 0.8; }
          100% { opacity: 0; }
      }