@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
    * {
      padding: 0;
      margin: 0;
    }
    body {
      font-family: Noto Sans KR, AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
      font-weight: 300;
      background-color: #fff;
      color: #333;
      width: 100%;
    }
    /* upper */
    #upper {
      background-color: #0ab9f1;
      padding-bottom: 24px;
    }
    /* title */
    div#title {
      width:100%;
      text-align: center;
      font-weight: 500;
      font-size: 24px;
      padding: 16px 0;
      margin: auto;
    }
    #title img {
      width: 120px;
      margin-bottom: -8px;
    }
    #title > p {
    font-size: 12px;
    color: white;
    font-weight: 400;
    }

    /* university select */
    #univ_title {
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      margin-top: 16px;
      margin-bottom: 8px;
    }
    #univ_form {
      width: 80%;
      max-width: 400px;
      margin: auto;
      margin-top: 32px;
    }
    #univ_select {
      width: 100%;
      border: 1px solid #e5e5e5;
      height: 40px;
      font-size: 14px;
      font-weight: 400;
      border-radius: 0;
      box-sizing: border-box;
      background-color: white;
    }

    /* mid */
    div#mid {
      width: 100%;
      max-width: 500px;
      display: flex;
      margin: auto;
      justify-content: space-evenly;
      align-items: center;
      padding: 32px 0;
    }

    .card {
      width: 35%;
      padding: 8px;
      height: 100px;
      border: 0.5px solid rgba(0,0,0,0.3);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      color: #333;
      text-decoration: none;
    }

    .card_up {
      font-size: 14px;
      font-weight: 400;
    }

    .card_down {
      text-align: right;
      font-size: 14px;
    }

    /* footer */
    div#footer{
      width: 100%;
      max-width: 500px;
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      padding: 16px 0;
    }

    #footer > div {
      padding: 0 8px;
      font-size: 14px;
      font-weight: 400;
    }

    #footer a {
      text-decoration: none;
      color: #333;
    }

    .top_btn {
      display: none;
      position: fixed;
      left: calc(50% + 266px);
      bottom: 80px;
      line-height: 12px;
      text-align: center;
      width: 36px;
      height: 32px;
      padding: 2px !important;
      border: 1px solid rgba(0,0,0,0.1);
    }

    /* lower */
    #lower {
      width: 100%;
      display: none;
    }

    /* main + roomList */
    div#err {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      background: rgba(0,0,0,0.02);
      color: #333;
      font-size: 14px;
      max-width: 500px;
      margin: auto;
    }
    div#main {
      padding: 0 8px;
      padding-top: 8px;
      margin: auto;
      width: auto;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #e8e8e8;
      border-top: 1px solid rgba(0,0,0,0.1);
    }
    #main a {
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      color: #333;
      margin-bottom: 8px;
      padding: 12px;
      background-color: white;
      width: 100%;
      border-bottom: 1px solid rgba(0,0,0,0.3);
    }
    .list_wrapper {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .list_upper {
      display: flex;
      flex-direction: row;
    }
    .icon_container {
      width: 80px;
      height: 100%;
      border: 1px solid rgba(0,0,0,0.1);
      margin-right: 8px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .tag_container {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 8px;
    }
    .tag_container span {
      color: #0ab9f1;
      border: 0.5px solid #0ab9f1;
      padding: 1px 4px;
      border-radius: 2px;
      margin-right: 4px;
      font-size: 14px;
    }
    
    .price_container {
      font-weight: 500;
      font-size: 20px;
    }
    .list_mid {
      margin: 8px 0;
      font-size: 14px;
      color: #777;  
    }
    .list_mid img {
      width: 13px;
      margin-right: 8px;
    }
    .list_lower {
      font-size: 12px;
      color: rgba(0,0,0,0.4);
    }
    .keywords_container span {
      padding: 2px 6px;
      background-color: rgba(0,0,0,0.03);
      color: #777;
      border-radius: 2px;
      font-size: 12px;
    }
    .list_right img {
      width: 10px;
      margin-right: 4px;
    }

    /* hashtag : 위쪽 주요 태그 선택하는 부분 */
    input[type="checkbox"] + label span {
      color: rgba(0,0,0,0.7);
      position: relative;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      line-height: 1.2;
      clear: both;
      margin: 4px 8px 4px 0;
      padding: 4px 8px;
      border: 1px solid #eee;
      border-radius: 40px;
      font-size: 14px;
    }
    input[type="checkbox"]:checked + label span {
      background-color: rgb(30, 144, 255);
      color: white;
    }
    .hashtag_list input[type="checkbox"] {
      display: none;
    }
    .hashtag_title {
      font-size: 16px;
      font-weight: 400;
      margin: auto;
      margin-top: 16px;
      margin-bottom: 4px;
      max-width: 500px;
      width: 95%;
    }
    #hashtag_container {
      width: 100%;
      margin: auto;
      margin-bottom: 12px;
    }
    .hashtag_list {
      margin: auto;
      max-width: 500px;
      width: 95%;
    }
    .submit_container {
      width: 100%;
      max-width: 500px;
      margin: auto;
      text-align: center;
      padding-top: 12px;
      margin-top: 12px;
      border-top: 1px solid rgba(0,0,0,0.1);
    }
    .submit_container input[type="submit"] {
      box-sizing: border-box;
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 2px;
      background: rgba(0,0,0,0.4);
      width: 120px;
      color: white;
      height: 40px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 300;
      font-family: Noto Sans KR, AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
      margin: 0 4px;
    }
    .submit_container a {
      width: 120px;
      box-sizing: border-box;
      height: 40px;
      border-radius: 2px;
      display: inline-block;
      font-size: 14px;
      font-weight: 300;
      color: #333;
      text-decoration: none;
      border: 1px solid rgba(0,0,0,0.2);
      vertical-align: bottom;
      line-height: 36px;
      margin: 0 4px;
    }

    /* noti_banner */
    .noti_banner_container {
      width: 100%;
      text-decoration: none;
      display: flex;
      position: fixed;
      background-color: #0ab9f1;
      height: 80px;
      bottom: 0px;
      transition: bottom 0.8s ease-in-out;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 14px;
    }
    .noti_hidden {
      bottom: -80px;
    }
    #noti_banner {
      width: 100%;
      max-width: 500px;
      padding-left: 28px;
    }
    #noti_title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 2px;
    }
    #noti_close {
      position: absolute;
      top: 10px;
      right: 10px;
    }