@charset "UTF-8";
/*
*   article.scss
*   매물 상세정보 페이지
*/
/* 변수 import */
/* 
*   SCSS variables
*/
/* colors */
/* font-weight */
/* font-family */
/* font-size */
/* line-height */
/* media query */
/* local variables */
#wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #ebeef1; }

/* 헤더 */
header #header_inner {
  max-width: 800px; }
  header #header_inner .back_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 24px;
    font-weight: 400; }
    @media only screen and (max-width: 600px) {
      header #header_inner .back_btn {
        padding: 0; } }
    header #header_inner .back_btn .back_arrow {
      margin-right: 12px;
      height: 58px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center; }
  header #header_inner .share_container {
    padding: 0 20px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; }
    header #header_inner .share_container > li {
      position: absolute;
      display: inline-block;
      width: 32px;
      height: 32px;
      background-color: #fff;
      box-sizing: border-box;
      border-radius: 100px;
      text-align: center;
      left: 0;
      overflow: hidden; }
      header #header_inner .share_container > li a {
        color: #3b3b46;
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: auto;
        border-radius: 100px;
        overflow: hidden; }
        header #header_inner .share_container > li a > img {
          width: 100%; }
    header #header_inner .share_container .kakao_link_btn,
    header #header_inner .share_container .url_link_btn {
      opacity: 0;
      left: 0 !important;
      transition: left 0.6s cubic-bezier(0.01, 0.71, 0.76, 0.95); }
    header #header_inner .share_container .kakao_visible {
      left: -84px !important; }
    header #header_inner .share_container .url_visible {
      left: -42px !important; }

/* 첫번째 블럭 : 제목 + 사진 + 매물정보 */
.block1 {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 16px;
  margin-top: 16px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box; }
  .block1 .titleBlock {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    @media only screen and (max-width: 600px) {
      .block1 .titleBlock {
        flex-direction: column;
        align-items: flex-start; } }
    .block1 .titleBlock .title {
      font-size: 18px;
      font-weight: 400;
      word-break: keep-all; }
    .block1 .titleBlock .views_container {
      display: flex;
      font-size: 16px; }
      @media only screen and (max-width: 600px) {
        .block1 .titleBlock .views_container {
          margin-top: 12px; } }
      .block1 .titleBlock .views_container .views_title {
        padding: 0 10px;
        margin-left: 10px; }
        @media only screen and (max-width: 600px) {
          .block1 .titleBlock .views_container .views_title {
            padding: 0;
            margin: 0;
            padding-right: 10px; } }
  .block1 .infoBlock {
    display: flex;
    padding: 20px;
    /* 이미지 슬라이더 */
    /* 매물정보 컨테이너 */ }
    @media only screen and (max-width: 600px) {
      .block1 .infoBlock {
        display: block; } }
    .block1 .infoBlock .slider_container {
      width: 100%;
      position: relative;
      height: 0;
      overflow: hidden;
      padding-bottom: 50%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      flex: 1; }
      @media only screen and (max-width: 600px) {
        .block1 .infoBlock .slider_container {
          padding-bottom: 70%; } }
      .block1 .infoBlock .slider_container .mask {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.02);
        overflow: hidden;
        display: flex;
        align-items: center; }
        .block1 .infoBlock .slider_container .mask .image_container {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: row;
          position: relative;
          left: 0;
          transition: left 0.5s ease-in-out; }
          .block1 .infoBlock .slider_container .mask .image_container > div {
            min-width: 100%;
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
      .block1 .infoBlock .slider_container .slider_btn {
        color: white;
        position: absolute;
        top: calc(50% - 16px);
        width: 32px;
        height: 32px;
        text-align: center;
        text-shadow: 0 0 4px #333;
        cursor: pointer; }
      .block1 .infoBlock .slider_container .slider_btn_l {
        left: 10px; }
      .block1 .infoBlock .slider_container .slider_btn_r {
        right: 10px; }
      .block1 .infoBlock .slider_container .slider_counter {
        background: rgba(0, 0, 0, 0.3);
        color: white;
        padding: 4px 8px;
        position: absolute;
        bottom: 12px;
        right: 16px;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1.5px; }
    .block1 .infoBlock .info_container {
      flex: 1;
      padding-left: 20px; }
      @media only screen and (max-width: 600px) {
        .block1 .infoBlock .info_container {
          padding: 0;
          margin-top: 20px; } }
      .block1 .infoBlock .info_container .info_title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 24px; }
      .block1 .infoBlock .info_container .info_table {
        display: table;
        width: 100%; }
        .block1 .infoBlock .info_container .info_table .row {
          display: table-row;
          height: 40px; }
          .block1 .infoBlock .info_container .info_table .row .cell_title {
            display: table-cell;
            font-size: 14px;
            font-weight: 400;
            width: 80px; }
          .block1 .infoBlock .info_container .info_table .row .cell_data {
            display: table-cell;
            font-size: 16px;
            font-weight: 500;
            word-break: keep-all; }
            @media only screen and (max-width: 600px) {
              .block1 .infoBlock .info_container .info_table .row .cell_data {
                text-align: right; } }

.done_container {
  color: white;
  background-color: #0ab9f1;
  padding: 2px 8px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 400; }

/* 본문 블럭 */
.block2 {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 16px;
  /* 연락하기 버튼 블럭 */ }
  @media only screen and (max-width: 600px) {
    .block2 {
      margin-bottom: 0; } }
  .block2 .detail_title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px; }
  .block2 .detail_text {
    white-space: pre-line;
    font-size: 16px;
    font-weight: 300; }
  .block2 .contact_container {
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: auto;
    margin-top: 40px;
    /* 뒤로가기 */
    /* 연락하기 */ }
    .block2 .contact_container .cancel_btn {
      margin: auto;
      color: #333;
      height: 60px;
      font-size: 18px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      flex: 2;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box; }
      @media only screen and (max-width: 600px) {
        .block2 .contact_container .cancel_btn {
          position: fixed;
          bottom: 0;
          left: 0;
          z-index: 999;
          margin: 0;
          height: 80px;
          width: 100%;
          background-color: #0ab9f1;
          color: #fff; } }
    .block2 .contact_container .contact_btn_container {
      margin: auto;
      color: #fff;
      height: 60px;
      font-size: 18px;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex: 3;
      margin-left: 8px;
      box-sizing: border-box;
      cursor: pointer; }
      @media only screen and (max-width: 600px) {
        .block2 .contact_container .contact_btn_container {
          font-size: 16px;
          height: 48px;
          margin: 0; } }
      .block2 .contact_container .contact_btn_container .contact_kakao {
        background-color: #ffe812;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center; }
      .block2 .contact_container .contact_btn_container .contact_done {
        background-color: #f5f7f8;
        color: #3b3b46;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center; }
      .block2 .contact_container .contact_btn_container .contact_call,
      .block2 .contact_container .contact_btn_container .contact_sms {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        background-color: #0ab9f1;
        color: #fff;
        font-size: 18px;
        font-weight: 400; }
        @media only screen and (max-width: 600px) {
          .block2 .contact_container .contact_btn_container .contact_call,
          .block2 .contact_container .contact_btn_container .contact_sms {
            color: #073e59;
            background-color: rgba(8, 186, 241, 0.18); } }
      .block2 .contact_container .contact_btn_container .contact_call {
        margin-right: 2px; }
  .block2 .sub-info {
    margin-top: 20px;
    margin-left: 24px; }
    @media only screen and (max-width: 600px) {
      .block2 .sub-info {
        margin-left: 20px; } }
    .block2 .sub-info li {
      font-size: 14px;
      font-weight: 300;
      color: #888888;
      line-height: 18px; }
      .block2 .sub-info li i {
        font-size: 14px;
        font-weight: 300; }

/* 후기 블럭 */
.review-block {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 16px; }
  @media only screen and (max-width: 600px) {
    .review-block {
      margin-bottom: 0; } }
  .review-block .review-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px; }
  .review-block .review-text {
    white-space: pre-line;
    font-size: 16px;
    font-weight: 300; }

/* 지도 블럭 */
.map-block {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 16px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box; }
  .map-block .map-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px; }
  .map-block .map {
    width: 100%;
    height: 300px;
    background-color: #ebeef1; }

/* 관련 매물 추천 */
.block3 {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 40px; }
  .block3 .related_title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
    padding-left: 10px; }
  .block3 .related_body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row; }
    @media only screen and (max-width: 600px) {
      .block3 .related_body {
        align-items: stretch;
        flex-direction: column; } }
    .block3 .related_body > a {
      display: block;
      flex: 1;
      padding: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis; }
      @media only screen and (max-width: 600px) {
        .block3 .related_body > a {
          padding: 16px 10px;
          margin: 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }
      @media only screen and (max-width: 600px) {
        .block3 .related_body > a:first-child {
          padding-top: 0; } }
      @media only screen and (max-width: 600px) {
        .block3 .related_body > a:last-child {
          padding-bottom: 0;
          border: none; } }
      .block3 .related_body > a .related_img_container {
        width: 100%;
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        flex: 1; }
        @media only screen and (max-width: 600px) {
          .block3 .related_body > a .related_img_container {
            margin-bottom: 8px; } }
        .block3 .related_body > a .related_img_container .related_img {
          position: absolute;
          width: 100%;
          background-size: cover;
          height: 100%;
          top: 0;
          left: 0; }
    .block3 .related_body p {
      font-size: 15px;
      font-weight: 400; }

/* 관련매물 더보기 버튼 */
.related_more {
  display: block;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
  box-sizing: border-box;
  background-color: #f5f7f8;
  color: #3b3b46;
  font-size: 14px;
  font-weight: 400;
  border-top: none; }

/* 푸터 */
footer {
  height: 80px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 0 8px;
  word-break: keep-all;
  color: gray;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 600px) {
    footer {
      margin: 0;
      margin-bottom: 80px;
      height: 100px;
      border: none; } }
