@charset "UTF-8";
/*
*   article.scss
*   매물 상세정보 페이지
*/
/* 변수 import */
/* 
*   SCSS variables
*/
/* colors */
/* font-weight */
/* font-family */
/* font-size */
/* line-height */
/* media query */
/* local variables */
header {
  position: absolute; }

#wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto; }

/* 제목 + 가격 */
.top-section {
  width: 100%;
  max-width: 1024px;
  padding: 40px 20px 0;
  margin: auto;
  margin-top: 64px;
  background-color: #fff;
  border: 0;
  box-sizing: border-box; }
  @media only screen and (max-width: 600px) {
    .top-section {
      padding: 20px 16px 0;
      margin-top: 48px; } }
  .top-section .bread-nav-container {
    height: 24px; }
    @media only screen and (max-width: 600px) {
      .top-section .bread-nav-container {
        margin-bottom: 12px; } }
    .top-section .bread-nav-container .breadcrumbs {
      float: left;
      list-style: none; }
      .top-section .bread-nav-container .breadcrumbs li {
        display: inline-block;
        font-size: 14px; }
        @media only screen and (max-width: 600px) {
          .top-section .bread-nav-container .breadcrumbs li {
            font-size: 12px; } }
        .top-section .bread-nav-container .breadcrumbs li a {
          color: #757575;
          font-size: inherit; }
          .top-section .bread-nav-container .breadcrumbs li a:hover {
            text-decoration: underline; }
        .top-section .bread-nav-container .breadcrumbs li::after {
          content: '';
          padding: 0 0.15em 0 0.3em;
          color: #757575; }
        .top-section .bread-nav-container .breadcrumbs li:last-child::before, .top-section .bread-nav-container .breadcrumbs li:last-child::after {
          content: ''; }
    .top-section .bread-nav-container .bread-right {
      float: right; }
      .top-section .bread-nav-container .bread-right span {
        font-size: 14px;
        color: #3b3b46;
        text-align: center; }
        @media only screen and (max-width: 600px) {
          .top-section .bread-nav-container .bread-right span {
            font-size: 12px; } }
        .top-section .bread-nav-container .bread-right span.views-container {
          margin-right: 12px; }
          @media only screen and (max-width: 600px) {
            .top-section .bread-nav-container .bread-right span.views-container {
              margin-right: 4px; } }
        .top-section .bread-nav-container .bread-right span i {
          color: #3b3b46;
          width: 30px; }
          @media only screen and (max-width: 600px) {
            .top-section .bread-nav-container .bread-right span i {
              width: 20px; } }
  .top-section .title-container {
    padding: 20px 0;
    text-align: left; }
    @media only screen and (max-width: 600px) {
      .top-section .title-container {
        text-align: center; } }
    .top-section .title-container .title {
      font-size: 28px;
      font-weight: 400;
      word-break: keep-all; }
      .top-section .title-container .title .done_container {
        color: white;
        background-color: #0ab9f1;
        padding: 2px 8px;
        border-radius: 100px;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        top: -6px; }
  .top-section .top-section-price {
    display: flex;
    padding: 16px 0; }
    .top-section .top-section-price .price-container {
      flex: 1.5;
      display: flex; }
      .top-section .top-section-price .price-container .price {
        flex: 1;
        padding: 8px 0;
        margin-right: 16px;
        border-right: 1px solid #e4e4e4; }
        @media only screen and (max-width: 600px) {
          .top-section .top-section-price .price-container .price {
            text-align: center;
            margin-right: 0; } }
        .top-section .top-section-price .price-container .price:last-child {
          margin-right: 0; }
          @media only screen and (max-width: 600px) {
            .top-section .top-section-price .price-container .price:last-child {
              border: 0; } }
        .top-section .top-section-price .price-container .price > div:first-child {
          color: #757575;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 4px; }
        .top-section .top-section-price .price-container .price > div:last-child {
          color: #3b3b46;
          font-size: 24px;
          font-weight: 700; }
          .top-section .top-section-price .price-container .price > div:last-child > span {
            font-size: 18px;
            font-weight: 400; }
    .top-section .top-section-price .pc-btn-container {
      flex: 2;
      display: flex;
      padding: 8px 20px; }
      @media only screen and (max-width: 600px) {
        .top-section .top-section-price .pc-btn-container {
          display: none; } }

.pc-btn-container button, .pc-btn-container > div, .pc-btn-container > a,
.mobile-btn-container button,
.mobile-btn-container > div,
.mobile-btn-container > a {
  flex: 1;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  margin: 0 8px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
  cursor: pointer; }

.pc-btn-container .reserve-btn,
.mobile-btn-container .reserve-btn {
  border: 1px solid #757575;
  color: #3b3b46;
  background-color: #fff;
  width: 100%;
  height: 100%; }

.pc-btn-container .contact-btn,
.mobile-btn-container .contact-btn {
  border: 0;
  background-color: #0ab9f1;
  color: #fff; }

.pc-btn-container .done-btn,
.mobile-btn-container .done-btn {
  border: 0;
  background-color: #e4e4e4;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto; }

/* 사진 캐로셀 */
.carousel-container {
  width: 100%;
  max-width: 1024px;
  margin: 40px auto;
  background-color: #f4f4f4; }
  .carousel-container .slick-container {
    width: 600px;
    height: 600px;
    min-width: 300px;
    margin: auto; }
    @media only screen and (max-width: 600px) {
      .carousel-container .slick-container {
        width: 100%;
        height: auto; } }
    .carousel-container .slick-container .slick-list {
      background-color: #e4e4e4; }
    .carousel-container .slick-container .slick-track {
      display: flex; }
    .carousel-container .slick-container .slick-track .slick-slide {
      display: flex;
      height: auto;
      align-items: center;
      justify-content: center; }
    .carousel-container .slick-container img {
      width: 600px;
      height: 600px;
      object-fit: contain; }
      @media only screen and (max-width: 600px) {
        .carousel-container .slick-container img {
          width: 100%;
          height: 350px; } }
  .carousel-container .slick-prev:before, .carousel-container .slick-next:before {
    opacity: 1 !important;
    color: #757575 !important; }
  @media only screen and (max-width: 600px) {
    .carousel-container .slick-arrow {
      display: none !important; } }

/* 매물정보 테이블 */
.info {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding: 40px 0 20px 0;
  /* 반응형 테이블 구현하기 위해서 */ }
  @media only screen and (max-width: 600px) {
    .info {
      padding: 40px 16px;
      border-bottom: 6px solid #e4e4e4; } }
  @media only screen and (max-width: 600px) {
    .info table, .info thead, .info tbody, .info th, .info td, .info tr {
      display: block; } }
  .info table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    /*
        Label the data
        */ }
    .info table thead {
      background-color: #f4f4f4;
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4; }
      @media only screen and (max-width: 600px) {
        .info table thead {
          border: 0; } }
    .info table tbody {
      border-bottom: 1px solid #e4e4e4; }
    .info table th {
      width: 25%;
      padding: 24px 4px;
      font-size: 16px;
      font-weight: 400;
      color: #757575; }
      @media only screen and (max-width: 600px) {
        .info table th {
          position: absolute;
          top: -9999px;
          left: -9999px; } }
    .info table td {
      text-align: center;
      padding: 24px 4px;
      font-size: 16px;
      font-weight: 400;
      color: #3b3b46; }
      @media only screen and (max-width: 600px) {
        .info table td {
          border: 1px solid #e4e4e4;
          border-bottom: 0;
          position: relative;
          padding: 16px 4px;
          padding-left: 35%;
          text-align: left; } }
      .info table td::before {
        display: none; }
        @media only screen and (max-width: 600px) {
          .info table td::before {
            display: inline-block;
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 0;
            width: 30%;
            padding: 16px 8px;
            white-space: nowrap;
            border-right: 1px solid #e4e4e4;
            box-sizing: border-box; } }
    .info table td:nth-of-type(1):before {
      content: "기간"; }
    .info table td:nth-of-type(2):before {
      content: "위치"; }
    .info table td:nth-of-type(3):before {
      content: "방 형태"; }
    .info table td:nth-of-type(4):before {
      content: "층수"; }

/* 공유하기 딤드 */
.dimmed-share {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center; }
  .dimmed-share.visible {
    visibility: visible; }
  .dimmed-share > a {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    cursor: pointer; }
    .dimmed-share > a img {
      margin-bottom: 8px;
      width: 60px;
      height: 60px;
      border-radius: 30px; }
    .dimmed-share > a p {
      color: #fff; }
  .dimmed-share .dimmed-close > i {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 28px;
    right: 5%; }

/* 하단 고정 버튼 */
.fixed-btn-container {
  position: fixed;
  width: 100%;
  bottom: -70px;
  left: 0;
  z-index: 200;
  transition: bottom .3s ease-in-out; }
  .fixed-btn-container.visible {
    bottom: 0; }
    @media only screen and (max-width: 600px) {
      .fixed-btn-container.visible {
        visibility: hidden !important;
        bottom: -70px; } }
  .fixed-btn-container .inner {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    height: 70px;
    background-color: #0ab9f1; }
    .fixed-btn-container .inner .fixed-btn {
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;
      line-height: 70px;
      font-size: 24px;
      font-weight: 400;
      color: #fff;
      cursor: pointer; }
      .fixed-btn-container .inner .fixed-btn:hover {
        backdrop-filter: brightness(1.1); }

.mobile-fixed-btn-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 200;
  visibility: hidden; }
  @media only screen and (max-width: 600px) {
    .mobile-fixed-btn-container {
      visibility: visible !important; } }
  .mobile-fixed-btn-container .fixed-btn {
    background-color: #0ab9f1;
    width: 100%;
    height: 70px;
    display: block;
    text-align: center;
    line-height: 70px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    cursor: pointer; }

/* 본문 블럭 */
.detail-container,
.review-container,
.map-container,
.related-container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 60px 20px;
  background-color: #fff;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4; }
  @media only screen and (max-width: 600px) {
    .detail-container,
    .review-container,
    .map-container,
    .related-container {
      padding: 40px 16px;
      margin-bottom: 0;
      border-bottom: 6px solid #e4e4e4; } }
  .detail-container .title,
  .review-container .title,
  .map-container .title,
  .related-container .title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px; }
    .detail-container .title > span a,
    .review-container .title > span a,
    .map-container .title > span a,
    .related-container .title > span a {
      font-size: 14px;
      font-weight: 300;
      margin-left: 12px; }
      .detail-container .title > span a:hover,
      .review-container .title > span a:hover,
      .map-container .title > span a:hover,
      .related-container .title > span a:hover {
        text-decoration: underline; }
  .detail-container .text,
  .review-container .text,
  .map-container .text,
  .related-container .text {
    white-space: pre-line;
    font-size: 16px;
    font-weight: 300;
    word-break: break-all; }
    .detail-container .text > a,
    .review-container .text > a,
    .map-container .text > a,
    .related-container .text > a {
      color: blue;
      text-decoration: underline; }
  .detail-container .sub-info,
  .review-container .sub-info,
  .map-container .sub-info,
  .related-container .sub-info {
    margin-top: 40px;
    margin-left: 24px; }
    @media only screen and (max-width: 600px) {
      .detail-container .sub-info,
      .review-container .sub-info,
      .map-container .sub-info,
      .related-container .sub-info {
        margin-left: 20px; } }
    .detail-container .sub-info li,
    .review-container .sub-info li,
    .map-container .sub-info li,
    .related-container .sub-info li {
      font-size: 14px;
      font-weight: 300;
      color: #757575;
      line-height: 18px; }
      .detail-container .sub-info li i,
      .review-container .sub-info li i,
      .map-container .sub-info li i,
      .related-container .sub-info li i {
        font-size: 14px;
        font-weight: 300; }

@media only screen and (max-width: 600px) {
  .map-container {
    padding-left: 0;
    padding-right: 0; } }

@media only screen and (max-width: 600px) {
  .map-container .title {
    padding: 0 16px 24px; } }

.map-container .map {
  width: 100%;
  height: 400px; }
  @media only screen and (max-width: 600px) {
    .map-container .map {
      height: 280px; } }

/* 모바일 문의 버튼 컨테이너 */
.mobile-btn-container {
  display: none;
  width: 100%;
  padding-top: 20px; }
  @media only screen and (max-width: 600px) {
    .mobile-btn-container {
      display: block; } }
  .mobile-btn-container button {
    width: 100%;
    padding: 20px 0;
    border-radius: 8px;
    margin: 0; }
  .mobile-btn-container > a {
    margin: 0; }
  .mobile-btn-container .contact-btn {
    margin-bottom: 12px; }

/* 관련 매물 추천 리스트 */
.related-container {
  border: 0; }

.related-list {
  width: 100%;
  height: 258px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none; }
  .related-list::-webkit-scrollbar {
    display: none !important; }
  @media only screen and (max-width: 600px) {
    .related-list {
      justify-content: flex-start; } }
  .related-list li {
    list-style: none;
    padding: 0 8px;
    width: calc(1024px / 3);
    min-width: 300px;
    height: 258px; }
    .related-list li:first-child {
      padding-left: 0; }
    .related-list li:last-child {
      padding-right: 0; }
    .related-list li > a {
      position: relative;
      display: inline-block;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 0; }
      .related-list li > a:hover img {
        transform: scale(1.1); }
      .related-list li > a .related-img {
        width: 100%;
        height: 180px;
        border-radius: 8px;
        border: 1px solid #e4e4e4;
        overflow: hidden; }
        .related-list li > a .related-img > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform .25s ease-in-out; }
      .related-list li > a .related-text {
        width: 100%;
        height: 78px; }
  .related-list p {
    font-size: 15px;
    font-weight: 400; }

/* 목록으로 돌아가기 */
.back-btn-container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  text-align: center;
  padding: 40px 20px 60px; }
  @media only screen and (max-width: 600px) {
    .back-btn-container {
      padding: 40px 16px 60px; } }
  .back-btn-container .back-btn {
    display: inline-block;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    padding: 24px 80px;
    border: 0;
    background-color: #f4f4f4;
    color: #3b3b46;
    border-radius: 100px;
    text-align: center; }
    @media only screen and (max-width: 600px) {
      .back-btn-container .back-btn {
        width: 100%; } }
    .back-btn-container .back-btn:hover {
      text-decoration: underline; }

/* 푸터 */
footer {
  padding-bottom: 110px; }
