@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Noto Sans KR, AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #333;
    width: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #ebeef1;
}

/*
* 헤더
*/ 
header a {
    text-decoration: none;
    color: #3b3b46;
}
#header_inner {
    max-width: 800px;
}
.back_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
}
.back_arrow {
    margin-right: 12px;
    height: 58px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.share_container {
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.share_container > li {
    position: absolute;
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 100px;
    text-align: center;
    left: 0;
    overflow: hidden;
}
.share_container > li a {
    text-decoration: none;
    color: #3b3b46;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 100px;
    overflow: hidden;
}
.share_container > li a > img {
    width: 100%;
}
.kakao_link_btn, .url_link_btn {
    opacity: 0;
    left: 0 !important;
    transition: left 0.6s cubic-bezier(0.01, 0.71, 0.76, 0.95);
}
.kakao_visible {
    left: -84px !important;
}
.url_visible {
    left: -42px !important;
}
@media screen and (max-width: 600px) {
    .back_btn {
        padding: 0;
    }
}

/*
* 첫번째 블럭 : 제목 + 사진 + 매물정보
*/
.block1 {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 16px;
    margin-top: 16px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.titleBlock {
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.title {
    font-size: 18px;
    font-weight: 500;
    word-break: keep-all;
}
.views_container {
    display: flex;
    font-size: 15px;
}
.views_title {
    padding: 0 10px;
    margin-left: 10px;
}
.infoBlock {
    display: flex;
    padding: 20px;
}
@media screen and (max-width: 600px) {
    .titleBlock {
        flex-direction: column;
        align-items: flex-start;
    }
    .views_container {
        margin-top: 12px;
    }
    .views_title {
        padding: 0;
        margin: 0;
        padding-right: 10px;
    }
    .infoBlock {
        display: block;
    }
}

/*
* 이미지 슬라이더
*/
.slider_container {
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    flex: 1;
}
.mask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.02);
    overflow: hidden;
    display: flex;
    align-items: center;
}
.image_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: 0;
    transition: left 0.5s ease-in-out;
}
.image_container > div {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_btn {
    color: white;
    position: absolute;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    text-align: center;
    text-shadow: 0 0 4px #333;
}
.slider_btn_l {
    left: 10px;
}
.slider_btn_r {
    right: 10px;
}
.slider_counter {
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 4px 8px; 
    position: absolute;
    bottom: 12px;
    right: 16px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
@media screen and (max-width: 600px) {
    .slider_container {
        padding-bottom: 70%;
    }
}

/*
* 매물정보 컨테이너
*/
.info_container {
    flex: 1;
    padding-left: 20px;
}
.info_title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
}
.info_table {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
    height: 40px;
}
.cell_title {
    display: table-cell;
    font-size: 14px;
    font-weight: 400;
    width: 80px;
}
.cell_data {
    display: table-cell;
    font-size: 16px;
    font-weight: 500;
    word-break: keep-all;
}
@media screen and (max-width: 600px) {
    .info_container {
        padding: 0;
        margin-top: 20px;
    }
    .cell_data {
        text-align: right;
    }
}

/*
* 본문 블럭
*/
.block2 {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    margin-bottom: 16px;
}
.detail_title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
}
.detail_text {
    white-space: pre-line;
    font-size: 16px;
}
@media screen and (max-width: 600px) {
    .block2 {
        margin-bottom: 0;
    }
}

/*
* 연락하기 버튼 블럭
*/
.contact_container {
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: auto;
}
.cancel_btn {
    margin: auto;
    color: #fff;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex: 2;
    background-color: #A0A7B4;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.contact_mobile {
    display: none;
    text-align: center;
    text-decoration: none;
    color: #444;
    font-weight: 400;
    margin-top: 24px;
    padding: 16px 10px;
    border-radius: 4px;
    font-size: 15px;
}
.contact_kakao {
    background-color: #ffe812;
}
.contact_phone {
    background-color: #fff;
    border: 2px solid #26cf12;
}
.contact_btn {
    margin: auto;
    background-color: #0ab9f1;
    color: white;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    margin-left: 8px;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .contact_container {
        position: fixed;
        bottom: 0;
        z-index: 999;
    }
    .contact_btn {
        display: none;
    }
    .contact_mobile {
        display: block;
        margin-top: 40px;
    }
    .cancel_btn {
        margin: 0;
        border: none;
        background-color: #0ab9f1;
        height: 80px;
        padding-bottom: 20px;
    }
}

/*
* 관련 매물 추천
*/
.block3 {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px 10px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    margin-top: 40px;
}
.related_title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
    padding-left: 10px;
}
.related_body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.related_body > a {
    display: block;
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.related_img_container {
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    flex: 1;
}
.related_img {
    position: absolute;
    width: 100%;
    background-size: cover;
    height: 100%;
    top: 0;
    left: 0;
}
.related_body p {
    font-size: 15px;
    font-weight: 400;
}
@media screen and (max-width: 600px) {
    .related_body {
        align-items: stretch;
        flex-direction: column;
    }
    .related_body > a {
        padding: 16px 10px;
        margin: 0;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .related_body > a:first-child {
        padding-top: 0;
    }
    .related_body > a:last-child {
        padding-bottom: 0;
        border: none;
    }
    .related_img_container {
        margin-bottom: 8px;
    }

}

/*
* 관련매물 더보기 버튼
*/
.related_more {
    display: block;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    box-sizing: border-box;
    background-color: rgba(245,247,248);
    color: #444;
    font-size: 14px;
    font-weight: 400;
    border-top: none;
}

/*
* 푸터
*/
footer {
    height: 80px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    padding: 0 8px;
    word-break: keep-all;
    color: gray;
    border-top: 1px solid rgba(0,0,0,0.1);
}
@media screen and (max-width: 600px) {
    footer {
        margin: 0;
        margin-bottom: 80px;
        height: 100px;
        border: none;
    }
}
