@charset "UTF-8";
/*
*   create.scss
*   매물 등록 페이지
*/
/* 변수 import */
/* 
*   SCSS variables
*/
/* colors */
/* font-weight */
/* font-family */
/* font-size */
/* line-height */
/* media query */
/* local variables */
body {
  background-color: #fff; }

header {
  position: absolute; }
  header .nav li > a {
    padding: 0; }
    header .nav li > a:hover {
      background-color: transparent; }

.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 80px;
  background-color: #fff;
  padding: 16px 0; }
  @media only screen and (max-width: 600px) {
    .wrapper {
      margin-top: 48px; } }
  .wrapper h1 {
    text-align: left;
    font-size: 36px;
    font-weight: 700;
    padding: 0 16px 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid #c8c8c8; }
    @media only screen and (max-width: 600px) {
      .wrapper h1 {
        padding: 0 12px 20px; } }
  .wrapper .block {
    border-bottom: 1px solid #e4e4e4;
    padding: 16px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 600px) {
      .wrapper .block {
        padding: 12px;
        border: 0;
        border-radius: 0;
        border-bottom: 16px solid #f4f4f4; } }
    .wrapper .block .thumbs {
      overflow-y: hidden;
      overflow-x: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .wrapper .block .thumbs .thumb {
        margin: 8px 8px 8px 0;
        width: 160px;
        height: 160px;
        border: 1px solid #f4f4f4;
        margin-right: 4px;
        position: relative; }
        @media only screen and (max-width: 600px) {
          .wrapper .block .thumbs .thumb {
            width: 100px;
            height: 100px; } }
        .wrapper .block .thumbs .thumb .remove {
          width: 24px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          position: absolute;
          top: 4px;
          right: 4px;
          color: #757575; }
          .wrapper .block .thumbs .thumb .remove:hover {
            color: #3b3b46;
            cursor: pointer; }
    @media only screen and (max-width: 600px) {
      .wrapper .block.block4 {
        border: 0; } }
    .wrapper .block h3 {
      text-align: left;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 36px; }
    .wrapper .block .control-label {
      font-weight: 400;
      font-size: 16px;
      text-align: left; }
  .wrapper .block5 {
    border: 0;
    padding: 0 20px;
    padding-top: 20px; }
    @media only screen and (max-width: 600px) {
      .wrapper .block5 {
        padding: 0 28px; } }
    .wrapper .block5 input[type="submit"] {
      background-color: #0ab9f1;
      color: #fff;
      border: 1px solid #0ab9f1;
      max-width: 300px;
      margin: auto;
      height: 60px;
      font-size: 18px; }
