@charset "UTF-8";
/*
*   footer.scss
*   ν‘Έν„°
*/
/* λ³€μ import */
/* 
*   SCSS variables
*/
/* colors */
/* font-weight */
/* font-family */
/* font-size */
/* line-height */
/* media query */
footer {
  position: relative;
  width: 100%;
  padding: 80px 0;
  background-color: #3b3b46; }
  @media only screen and (max-width: 600px) {
    footer {
      padding: 40px 0; } }
  footer .footerContainer {
    max-width: 1104px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 600px) {
      footer .footerContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; } }
    footer .footerContainer .footer_left {
      font-size: 16px;
      font-weight: 400; }
      @media only screen and (max-width: 600px) {
        footer .footerContainer .footer_left {
          margin-bottom: 20px; } }
      footer .footerContainer .footer_left > a {
        display: inline-block;
        color: #fff;
        margin-right: 56px; }
        @media only screen and (max-width: 600px) {
          footer .footerContainer .footer_left > a {
            margin: 0 16px; } }
    footer .footerContainer .footer_right a {
      display: inline-block;
      color: #fff;
      margin-left: 12px; }
      @media only screen and (max-width: 600px) {
        footer .footerContainer .footer_right a {
          margin: 0 6px; } }
    footer .footerContainer .footer_right i {
      font-size: 24px; }
