@charset "UTF-8";
/*
*   headerBar.scss
*   헤더바
*/
/* 변수 import */
/* 
*   SCSS variables
*/
/* colors */
/* font-weight */
/* font-family */
/* font-size */
/* line-height */
/* media query */
/* headerBar local variables */
header {
  position: fixed;
  box-sizing: border-box;
  word-break: keep-all;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 1px #eeeeee;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all .2s ease-out; }
  header.transparent {
    background-color: transparent;
    box-shadow: none; }
    header.transparent #header_inner .nav li > a {
      color: #fff; }
  header #header_inner {
    max-width: 1064px;
    height: 64px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center; }
    header #header_inner .header_logo {
      display: inline-block;
      padding: 18.97px 20px; }
      @media only screen and (max-width: 600px) {
        header #header_inner .header_logo {
          padding: 21.415px 0px; } }
      header #header_inner .header_logo > img {
        display: block;
        width: 64px; }
        @media only screen and (max-width: 600px) {
          header #header_inner .header_logo > img {
            width: 52px; } }
  header .nav li {
    display: inline-block;
    padding: 0 16px;
    height: 36px;
    line-height: 36px;
    color: #3b3b46; }
    @media only screen and (max-width: 600px) {
      header .nav li {
        font-size: 14px;
        padding: 0px 4px; } }
    header .nav li > a {
      width: 100%;
      color: #3b3b46;
      transition: color .2s ease-out;
      font-size: 16px;
      font-weight: 700; }
      @media only screen and (max-width: 600px) {
        header .nav li > a {
          font-size: 14px; } }
      header .nav li > a:hover {
        color: #0ab9f1; }

@media only screen and (max-width: 600px) {
  header {
    position: fixed;
    box-sizing: border-box;
    word-break: keep-all;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 0 1px #eeeeee;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all .2s ease-out; }
    header.transparent {
      background-color: transparent;
      box-shadow: none; }
      header.transparent #header_inner .nav li > a {
        color: #fff; }
    header #header_inner {
      max-width: 1064px;
      height: 48px;
      padding: 0 20px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center; }
      header #header_inner .header_logo {
        display: inline-block;
        padding: 10.97px 20px; } }
      @media only screen and (max-width: 600px) and (max-width: 600px) {
        header #header_inner .header_logo {
          padding: 13.415px 0px; } }

@media only screen and (max-width: 600px) {
        header #header_inner .header_logo > img {
          display: block;
          width: 64px; } }
        @media only screen and (max-width: 600px) and (max-width: 600px) {
          header #header_inner .header_logo > img {
            width: 52px; } }

@media only screen and (max-width: 600px) {
    header .nav li {
      display: inline-block;
      padding: 0 16px;
      height: 36px;
      line-height: 36px;
      color: #3b3b46; } }
    @media only screen and (max-width: 600px) and (max-width: 600px) {
      header .nav li {
        font-size: 14px;
        padding: 0px 4px; } }

@media only screen and (max-width: 600px) {
      header .nav li > a {
        width: 100%;
        color: #3b3b46;
        transition: color .2s ease-out;
        font-size: 16px;
        font-weight: 700; } }
      @media only screen and (max-width: 600px) and (max-width: 600px) {
        header .nav li > a {
          font-size: 14px; } }

@media only screen and (max-width: 600px) {
        header .nav li > a:hover {
          color: #0ab9f1; } }
