@charset "UTF-8";
/*
*   headerBar.scss
*   헤더바
*/
/* 변수 import */
/* 
*   SCSS variables
*/
/* colors */
/* font-weight */
/* font-family */
/* font-size */
/* line-height */
/* media query */
/* headerBar local variables */
header {
  position: fixed;
  box-sizing: border-box;
  word-break: keep-all;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 1px #e4e4e4;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all .2s ease-out;
  height: 64px; }
  header.transparent {
    background-color: transparent;
    box-shadow: none; }
    header.transparent .nav li > a {
      color: #fff; }
  header .navbar-brand > img {
    display: block;
    width: 64px; }
    @media only screen and (max-width: 600px) {
      header .navbar-brand > img {
        width: 52px; } }
  header .icon-bar {
    background-color: #3b3b46; }
  header .nav li {
    display: inline-block;
    padding: 0 16px;
    height: 36px;
    line-height: 36px;
    color: #3b3b46; }
    @media only screen and (max-width: 600px) {
      header .nav li {
        display: block;
        text-align: right;
        font-size: 14px;
        padding: 0px 4px; } }
    header .nav li > a {
      width: 100%;
      color: #3b3b46;
      font-size: 16px;
      font-weight: 700; }
      @media only screen and (max-width: 600px) {
        header .nav li > a {
          font-size: 14px; } }
      header .nav li > a:hover {
        color: #0ab9f1;
        background-color: transparent; }

@media only screen and (max-width: 600px) {
  header {
    position: fixed;
    box-sizing: border-box;
    word-break: keep-all;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 0 1px #e4e4e4;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all .2s ease-out;
    height: 48px; }
    header.transparent {
      background-color: transparent;
      box-shadow: none; }
      header.transparent .nav li > a {
        color: #fff; }
    header .navbar-brand > img {
      display: block;
      width: 64px; } }
    @media only screen and (max-width: 600px) and (max-width: 600px) {
      header .navbar-brand > img {
        width: 52px; } }

@media only screen and (max-width: 600px) {
    header .icon-bar {
      background-color: #3b3b46; }
    header .nav li {
      display: inline-block;
      padding: 0 16px;
      height: 36px;
      line-height: 36px;
      color: #3b3b46; } }
    @media only screen and (max-width: 600px) and (max-width: 600px) {
      header .nav li {
        display: block;
        text-align: right;
        font-size: 14px;
        padding: 0px 4px; } }

@media only screen and (max-width: 600px) {
      header .nav li > a {
        width: 100%;
        color: #3b3b46;
        font-size: 16px;
        font-weight: 700; } }
      @media only screen and (max-width: 600px) and (max-width: 600px) {
        header .nav li > a {
          font-size: 14px; } }

@media only screen and (max-width: 600px) {
        header .nav li > a:hover {
          color: #0ab9f1;
          background-color: transparent; } }
