@charset "UTF-8";
/*
*   index.scss
*   메인페이지
*/
/* 변수 import */
/* 
*   SCSS variables
*/
/* colors */
/* font-weight */
/* font-family */
/* font-size */
/* line-height */
/* media query */
/* local variables */
/* CSS */
html,
body {
  height: 100%; }

/* main block */
.mainBlock {
  height: 100%;
  position: relative;
  width: 100%;
  /* 배경사진 */ }
  .mainBlock picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden; }
    .mainBlock picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.85);
      -webkit-filter: brightness(0.85); }
  .mainBlock .mainBlockContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 200px);
    width: 100%; }
    @media only screen and (max-width: 600px) {
      .mainBlock .mainBlockContainer {
        top: calc(50% - 140px); } }
    .mainBlock .mainBlockContainer .mainBlockDivider {
      max-width: 1104px;
      padding: 0 40px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      /* university select */ }
      @media only screen and (max-width: 600px) {
        .mainBlock .mainBlockContainer .mainBlockDivider {
          flex-direction: column;
          padding: 0 20px; } }
      .mainBlock .mainBlockContainer .mainBlockDivider .mainCopy {
        color: #fff;
        text-shadow: 4px 0px 9px rgba(58, 62, 49, 0.35);
        text-align: center; }
        @media only screen and (max-width: 600px) {
          .mainBlock .mainBlockContainer .mainBlockDivider .mainCopy {
            font-size: 14px; } }
        .mainBlock .mainBlockContainer .mainBlockDivider .mainCopy > h1 {
          margin: 0 0 40px;
          font-size: 48px;
          font-weight: 700;
          line-height: 1.36;
          letter-spacing: 1px;
          color: #fff; }
          @media only screen and (max-width: 600px) {
            .mainBlock .mainBlockContainer .mainBlockDivider .mainCopy > h1 {
              font-size: 28px;
              letter-spacing: 0.4px; } }
        .mainBlock .mainBlockContainer .mainBlockDivider .mainCopy > p {
          font-size: 18px;
          font-weight: 400; }
          @media only screen and (max-width: 600px) {
            .mainBlock .mainBlockContainer .mainBlockDivider .mainCopy > p {
              font-size: 16px; } }
      .mainBlock .mainBlockContainer .mainBlockDivider #univ_form {
        position: relative;
        width: 240px;
        height: 60px;
        border: 1px solid #fff;
        border-radius: 40px;
        z-index: 1;
        margin-top: 60px;
        transition: all .2s ease-out; }
        .mainBlock .mainBlockContainer .mainBlockDivider #univ_form:hover {
          background-color: #fff; }
        @media only screen and (max-width: 600px) {
          .mainBlock .mainBlockContainer .mainBlockDivider #univ_form {
            width: 200px; } }
        .mainBlock .mainBlockContainer .mainBlockDivider #univ_form label {
          position: absolute;
          width: 100%;
          color: #fff;
          top: 1px;
          /* 위치정렬 */
          left: 0;
          /* 위치정렬 */
          font-size: 16px;
          padding: 1em  0;
          text-align: center;
          /* select의 여백 크기 만큼 */
          z-index: -1;
          /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
          transition: all .2s ease-out; }
        .mainBlock .mainBlockContainer .mainBlockDivider #univ_form:hover label {
          color: #3b3b46; }
        .mainBlock .mainBlockContainer .mainBlockDivider #univ_form #univ_select {
          width: 100%;
          height: 100%;
          border-radius: 40px;
          /* 높이 초기화 */
          line-height: normal;
          /* line-height 초기화 */
          font-family: inherit;
          /* 폰트 상속 */
          padding: 0.8em 0;
          /* 여백과 높이 결정 */
          border: 0;
          opacity: 0;
          /* 숨기기 */
          font-size: 14px;
          filter: alpha(opacity=0);
          /* IE8 숨기기 */
          -webkit-appearance: none;
          /* 네이티브 외형 감추기 */
          -moz-appearance: none;
          appearance: none;
          cursor: pointer; }
  .mainBlock i {
    font-size: 32px;
    color: #fff;
    position: absolute;
    bottom: 12px;
    left: calc(50% -  16px); }

/*
* sub blocks
*/
.subBlock {
  width: 100%;
  padding-top: 140px;
  position: relative;
  /* 거래후기 */
  /* 새로 등록된 매물 */
  /* 두 번째 subBlock - 다음 세입자 구해드립니다 */
  /* 세 번째 subBlock - 방단기 이용 가이드 */ }
  @media only screen and (max-width: 600px) {
    .subBlock {
      padding-top: 100px; } }
  .subBlock .subBlock_container {
    max-width: 1024px;
    width: 95%;
    margin: 0 auto;
    padding: 0 24px;
    position: relative; }
    @media only screen and (max-width: 600px) {
      .subBlock .subBlock_container {
        width: 100%;
        margin: 0;
        padding: 0 8px; } }
  .subBlock.review-block .review-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700; }
  .subBlock.b1 {
    background-color: #fff; }
    .subBlock.b1 .b1_title {
      text-align: center;
      font-size: 24px;
      font-weight: 700; }
    .subBlock.b1 .b1_cards {
      width: 100%;
      height: 258px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      justify-content: center;
      margin-top: 28px;
      overflow: scroll;
      overflow-x: auto;
      overflow-y: hidden;
      -ms-overflow-style: none; }
      .subBlock.b1 .b1_cards::-webkit-scrollbar {
        display: none !important; }
      @media only screen and (max-width: 600px) {
        .subBlock.b1 .b1_cards {
          justify-content: flex-start; } }
      .subBlock.b1 .b1_cards li {
        list-style: none;
        padding: 0 8px; }
      .subBlock.b1 .b1_cards .b1_item {
        position: relative;
        top: 0;
        width: 232px;
        height: 100%;
        display: flex; }
        @media only screen and (max-width: 600px) {
          .subBlock.b1 .b1_cards .b1_item {
            padding: 0px; } }
        .subBlock.b1 .b1_cards .b1_item .b1_item_content {
          width: 232px;
          background-color: #fff;
          border-radius: 5px; }
          .subBlock.b1 .b1_cards .b1_item .b1_item_content .b1_item_img {
            width: 100%;
            height: 180px;
            border-radius: 12px;
            border: 1px solid #eee; }
          .subBlock.b1 .b1_cards .b1_item .b1_item_content .b1_item_text {
            background-color: #fff;
            width: 100%;
            padding: 12px 4px;
            height: 78px;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; }
            .subBlock.b1 .b1_cards .b1_item .b1_item_content .b1_item_text .new-text-2 {
              font-weight: 400; }
        @media only screen and (max-width: 600px) {
          .subBlock.b1 .b1_cards .b1_item:last-child {
            margin-right: 0px; } }
    .subBlock.b1 .b1-button-container {
      text-align: center;
      margin-top: 20px; }
      .subBlock.b1 .b1-button-container .b1-button {
        text-align: center; }
        .subBlock.b1 .b1-button-container .b1-button button {
          width: 200px;
          padding: 16px 28px;
          background: #ebeef1;
          border: 1px solid #ebeef1;
          display: inline-block;
          border-radius: 100px;
          color: #3b3b46;
          font: inherit;
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;
          text-transform: none;
          margin: 0;
          box-sizing: border-box;
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0s; }
          .subBlock.b1 .b1-button-container .b1-button button:hover {
            text-decoration: underline; }
  .subBlock.b2 {
    padding-bottom: 120px; }
    .subBlock.b2 .b2_title {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.4;
      text-align: center; }
      @media only screen and (max-width: 600px) {
        .subBlock.b2 .b2_title {
          font-size: 24px; } }
    .subBlock.b2 .b2_text {
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      margin-top: 32px; }
      @media only screen and (max-width: 600px) {
        .subBlock.b2 .b2_text {
          font-size: 16px;
          font-weight: 300; } }
    .subBlock.b2 .b2_button {
      margin-top: 60px;
      text-align: center; }
      @media only screen and (max-width: 600px) {
        .subBlock.b2 .b2_button {
          margin-top: 40px; } }
      .subBlock.b2 .b2_button button {
        width: 200px;
        padding: 16px 28px;
        background: #ebeef1;
        border: 1px solid #ebeef1;
        display: inline-block;
        border-radius: 100px;
        color: #3b3b46;
        font: inherit;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-transform: none;
        margin: 0;
        box-sizing: border-box;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0s; }
        .subBlock.b2 .b2_button button:hover {
          text-decoration: underline; }
  .subBlock.b3 .b3-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700; }
  .subBlock.b3 .b3-contents {
    list-style: none;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-between; }
    @media only screen and (max-width: 600px) {
      .subBlock.b3 .b3-contents {
        -ms-overflow-style: none; }
        .subBlock.b3 .b3-contents::-webkit-scrollbar {
          display: none !important; } }
    .subBlock.b3 .b3-contents .b3-content {
      flex-basis: 33.3%;
      padding: 0 12px;
      min-width: 240px; }
      .subBlock.b3 .b3-contents .b3-content .b3-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .subBlock.b3 .b3-contents .b3-content .b3-img object {
          width: 100%; }
      .subBlock.b3 .b3-contents .b3-content .b3-text {
        width: 100%;
        word-break: keep-all; }
        .subBlock.b3 .b3-contents .b3-content .b3-text .title {
          font-size: 16px;
          font-weight: 700;
          padding-bottom: 6px; }
        .subBlock.b3 .b3-contents .b3-content .b3-text .text {
          font-size: 16px;
          font-weight: 300; }
  .subBlock.b3 .b3-button-container {
    text-align: center;
    margin-top: 28px; }
    .subBlock.b3 .b3-button-container .b3-button {
      text-align: center; }
      .subBlock.b3 .b3-button-container .b3-button button {
        width: 200px;
        padding: 16px 28px;
        background: #ebeef1;
        border: 1px solid #ebeef1;
        display: inline-block;
        border-radius: 100px;
        color: #3b3b46;
        font: inherit;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-transform: none;
        margin: 0;
        box-sizing: border-box;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0s; }
        .subBlock.b3 .b3-button-container .b3-button button:hover {
          text-decoration: underline; }

/* PWA */
button#butInstall {
  position: fixed;
  bottom: 60px;
  left: calc(50% - 90px);
  width: 180px;
  height: 40px;
  -webkit-appearance: none;
  border: none;
  border-radius: 100px;
  background-color: dodgerblue;
  color: #fff;
  font-size: 15px; }
