@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
    * {
      padding: 0;
      margin: 0;
    }
    body {
      font-family: Noto Sans KR, AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
      font-weight: 300;
      background-color: #fff;
      color: #333;
      width: 100%;
    }
    a {
        text-decoration: none;
        color: #333;
    }
    #container {
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;   
        margin: auto;
    }
    #logo {
        text-align: center;
        margin: 40px 0;
    }
    #logo > img {
        width: 120px;
    }
    #text {
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        word-break: keep-all;
        padding: 0 20px;
    }
    #btn {
        margin: auto;
        display: flex;
        padding: 14px 18px;
        background-color: deepskyblue;
        color: white;
        margin-top: 16px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 400;
    }
    #img {
        margin-top: 40px;
        width: 100%;
    }
    #img > img {
        width: 100%;
    }