html, body {
    width:  100%;
    height: 100%;
}
.main {
    width: 100%;
    height: 100%;
}

/*
* block1
*/
.block1 {
    display: flex;
    position: relative;
    height: calc(100% - 58px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0,0,0,0.02);
}
.block1_img_container {
    width: 200px;
    margin-top: -120px;
}
.block1 > h1 {
    margin-top: 20px;
    font-size: 36px;
    font-weight: 500;
}
.block1 > p  {
    margin-top: 20px;
    font-size: 18px;
}
.block1 img, .block2 img, .block3 img {
    width: 100%;
}
.downarrow {
    display: flex;
    position: absolute;
    left: calc(50% - 15px);
    bottom: 40px;
    font-size: 30px;
    animation: blink 1s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {
      opacity: 1;
      transform: translate(0, -2px); }
    50% {
      opacity: 0.2;
      transform: translate(0, 2px); }
    100% {
      opacity: 1;
      transform: translate(0, -2px); } 
}
  

/*
* block2
*/
.block2  {
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block2_img_container {
    width: 450px;
    margin-right: -20px;
}
.block2 h3 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 500;
}
.block2 p {
    font-size: 18px;
}

/*
* block3
*/
.block3  {
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.02);
}
.block3_img_container {
    width: 450px;
    margin-left: 0px;
}
.block3 h3 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 500;
}
.block3 p {
    font-size: 18px;
}

/*
* block4
*/
.block4  {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block4 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.block4 h3 {
    font-size: 24px;
    font-weight: 300;
}
.block4 a {
    width: 200px;
    padding: 16px 28px;
    background: rgba(0,0,0,.75);
    display: inline-block;
    border-radius: 100px;
    color: white;
    font: inherit;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    text-transform: none;
    margin: 0;
    margin-top: 32px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0s; */
    box-sizing: border-box;
    text-align: center;
}
.block4 a:hover {
    background-color: #0AB9F1;
}