@charset "UTF-8";
/*
*   reservation.scss
*   예약 페이지
*/
/* 변수 import */
/* 
*   SCSS variables
*/
/* colors */
/* font-weight */
/* font-family */
/* font-size */
/* line-height */
/* media query */
/* local variables */
header {
  position: absolute; }

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 64px 0; }
  @media only screen and (max-width: 600px) {
    .wrapper {
      padding: 48px 0; } }

h1 {
  display: block;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 8px;
  margin-top: 40px;
  border-bottom: 3px solid #757575; }
  @media only screen and (max-width: 600px) {
    h1 {
      margin: 20px 16px 0 16px; } }

h2 {
  display: block;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 4px; }
  h2 > span {
    font-size: 14px;
    font-weight: 300;
    color: #757575;
    margin-left: 8px; }
    @media only screen and (max-width: 600px) {
      h2 > span {
        display: block;
        margin: 0;
        font-size: 12px; } }

.table-wrapper {
  padding-top: 40px; }
  @media only screen and (max-width: 600px) {
    .table-wrapper {
      padding: 40px 16px 0 16px; } }
  .table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #e4e4e4; }
    .table-wrapper table th {
      padding: 10px 15px 0 0;
      background-color: #f4f4f4;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      font-size: 16px;
      font-weight: 400;
      width: 20%;
      vertical-align: top;
      text-align: right;
      min-width: 120px; }
      @media only screen and (max-width: 600px) {
        .table-wrapper table th {
          font-size: 14px; } }
    .table-wrapper table td {
      border-bottom: 1px solid #e4e4e4;
      vertical-align: top;
      text-align: left;
      padding: 10px 0 10px 15px; }
      @media only screen and (max-width: 600px) {
        .table-wrapper table td {
          font-size: 14px; } }
      .table-wrapper table td ul {
        list-style: none;
        margin-top: 8px; }
        .table-wrapper table td ul li {
          font-size: 14px;
          color: #757575;
          font-weight: 300; }
          @media only screen and (max-width: 600px) {
            .table-wrapper table td ul li {
              font-size: 12px; } }
    .table-wrapper table input {
      width: 100%;
      max-width: 180px;
      font-size: 14px;
      padding: 2px; }
      @media only screen and (max-width: 600px) {
        .table-wrapper table input {
          padding: 0; } }
  .table-wrapper .img-table th {
    padding: 10px 15px;
    background: none;
    border-right: 0; }
    @media only screen and (max-width: 600px) {
      .table-wrapper .img-table th {
        padding: 10px 0; } }
  .table-wrapper .img-table .article-img {
    width: 160px;
    height: 100px;
    background-color: #f4f4f4;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .table-wrapper .img-table .article-title {
    font-size: 16px;
    font-weight: 700; }
    @media only screen and (max-width: 600px) {
      .table-wrapper .img-table .article-title {
        font-size: 14px; } }
  .table-wrapper .img-table .article-data {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    margin-top: 8px; }
    @media only screen and (max-width: 600px) {
      .table-wrapper .img-table .article-data {
        margin-top: 4px;
        font-size: 12px;
        line-height: 14px; } }

.btn-container {
  padding: 40px 16px; }
  .btn-container input[type="submit"], .btn-container input[type="button"] {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    margin: auto;
    padding: 20px 120px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #0ab9f1;
    color: #fff;
    border: 0;
    font-size: 18px;
    font-weight: 700; }
    @media only screen and (max-width: 600px) {
      .btn-container input[type="submit"], .btn-container input[type="button"] {
        width: 100%; } }
