@charset "UTF-8";
/*
*   reservation.scss
*   예약 페이지
*/
/* 변수 import */
/* 
*   SCSS variables
*/
/* colors */
/* font-weight */
/* font-family */
/* font-size */
/* line-height */
/* media query */
/* local variables */
header {
  position: absolute; }

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 64px 0; }
  @media only screen and (max-width: 600px) {
    .wrapper {
      padding: 48px 0; } }

h1 {
  display: block;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 8px;
  margin-top: 40px;
  border-bottom: 3px solid #757575; }
  @media only screen and (max-width: 600px) {
    h1 {
      margin: 20px 16px 0 16px; } }

h2 {
  display: block;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 4px; }
  h2 > span {
    font-size: 14px;
    font-weight: 300;
    color: #757575;
    margin-left: 8px; }
    @media only screen and (max-width: 600px) {
      h2 > span {
        display: block;
        margin: 0;
        font-size: 12px; } }
  h2 .remittance-copy {
    display: inline-block;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 2px;
    color: #3b3b46;
    cursor: pointer; }
    h2 .remittance-copy:hover {
      font-weight: 400; }

.table-wrapper {
  padding-top: 40px; }
  @media only screen and (max-width: 600px) {
    .table-wrapper {
      padding: 40px 16px 0 16px; } }
  .table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #e4e4e4; }
    .table-wrapper table caption {
      caption-side: bottom;
      text-align: left; }
      .table-wrapper table caption ul {
        list-style: none; }
        .table-wrapper table caption ul li {
          padding-left: 12px;
          font-size: 14px;
          color: #757575;
          position: relative;
          font-weight: 300; }
          @media only screen and (max-width: 600px) {
            .table-wrapper table caption ul li {
              font-size: 12px; } }
          .table-wrapper table caption ul li::before {
            content: '-';
            position: absolute;
            top: 0;
            left: 0; }
    .table-wrapper table th {
      padding: 10px 15px 0 0;
      background-color: #f4f4f4;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      font-size: 16px;
      font-weight: 400;
      width: 20%;
      vertical-align: top;
      text-align: right;
      min-width: 120px; }
      @media only screen and (max-width: 600px) {
        .table-wrapper table th {
          font-size: 14px; } }
      .table-wrapper table th .xi-help-o {
        position: relative;
        color: #757575; }
        .table-wrapper table th .xi-help-o > span {
          position: absolute;
          width: 320px;
          text-align: left;
          left: 40px;
          top: -8px;
          padding: 8px;
          font-size: 14px;
          color: #3b3b46;
          background-color: #fff;
          border: 1px solid #e4e4e4;
          border-radius: 4px;
          line-height: 16px;
          visibility: hidden; }
          @media only screen and (max-width: 600px) {
            .table-wrapper table th .xi-help-o > span {
              width: 180px; } }
        .table-wrapper table th .xi-help-o:hover > span {
          visibility: visible; }
    .table-wrapper table td {
      border-bottom: 1px solid #e4e4e4;
      vertical-align: top;
      text-align: left;
      padding: 10px 0 10px 15px; }
      @media only screen and (max-width: 600px) {
        .table-wrapper table td {
          font-size: 14px; } }
      .table-wrapper table td ul {
        list-style: none;
        margin-top: 8px; }
        .table-wrapper table td ul li {
          font-size: 14px;
          color: #757575;
          font-weight: 300; }
          @media only screen and (max-width: 600px) {
            .table-wrapper table td ul li {
              font-size: 12px; } }
    .table-wrapper table input {
      width: 100%;
      max-width: 180px;
      font-size: 14px;
      padding: 2px; }
      @media only screen and (max-width: 600px) {
        .table-wrapper table input {
          padding: 0; } }
  .table-wrapper .img-table th {
    padding: 10px 15px;
    background: none;
    border-right: 0; }
    @media only screen and (max-width: 600px) {
      .table-wrapper .img-table th {
        padding: 10px 0; } }
  .table-wrapper .img-table .article-img {
    width: 180px;
    height: 120px;
    background-color: #f4f4f4;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    @media only screen and (max-width: 600px) {
      .table-wrapper .img-table .article-img {
        width: 132px; } }
  .table-wrapper .img-table .article-title {
    font-size: 16px;
    font-weight: 700; }
    @media only screen and (max-width: 600px) {
      .table-wrapper .img-table .article-title {
        font-size: 14px; } }
  .table-wrapper .img-table .article-data {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 20px; }
    @media only screen and (max-width: 600px) {
      .table-wrapper .img-table .article-data {
        margin-top: 4px;
        font-size: 12px;
        line-height: 14px; } }
  .table-wrapper .img-table .contract > a {
    display: inline-block;
    padding: 4px 12px;
    background-color: #0ab9f1;
    border-radius: 4px;
    font-size: 14px;
    color: white; }

.btn-container {
  padding: 40px 16px; }
  .btn-container input[type="submit"], .btn-container input[type="button"] {
    display: block;
    appearance: none;
    -webkit-appearance: none;
    margin: auto;
    padding: 20px 120px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #0ab9f1;
    color: #fff;
    border: 0;
    font-size: 18px;
    font-weight: 700; }
    @media only screen and (max-width: 600px) {
      .btn-container input[type="submit"], .btn-container input[type="button"] {
        width: 100%; } }
