@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
    * {
      padding: 0;
      margin: 0;
    }
    body {
      font-family: Noto Sans KR, AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
      font-weight: 300;
      background-color: #fff;
      color: #333;
      width: 100%;
    }
    /* upper */
    .form_container {
      padding: 24px 40px;
      border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    /* university select */
    #univ_form {
      position: relative;
      width: 100%;
      max-width: 600px;
      margin: auto;
      height: 47px;
      border: 3px solid #0AB9F1; /* 테두리 설정 */ 
      z-index: 1;
    }
    #univ_form:before { /* 화살표 대체 */ 
        content: ""; 
        position: absolute; 
        top: 50%; 
        right: 15px; 
        width: 0; 
        height: 0; 
        margin-top: -1px; 
        border-left: 5px solid transparent; 
        border-right: 5px solid transparent; 
        border-top: 5px solid #999; 
    }
    #univ_form label {
        position: absolute; 
        top: 1px; /* 위치정렬 */ 
        left: 5px; /* 위치정렬 */ 
        font-size: 14px;
        padding: .8em .5em; /* select의 여백 크기 만큼 */ 
        z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
    }
    #univ_select {
        width: 100%; 
        height: auto; /* 높이 초기화 */ 
        line-height: normal; /* line-height 초기화 */ 
        font-family: inherit; /* 폰트 상속 */ 
        padding: .8em .5em; /* 여백과 높이 결정 */ 
        border: 0; 
        opacity: 0; /* 숨기기 */ 
        font-size: 14px;
        filter:alpha(opacity=0); /* IE8 숨기기 */ 
        -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
        -moz-appearance: none; 
        appearance: none; 
    }
    @media screen and (max-width: 600px) {
      header {
        position: fixed;
        top: 0;
        z-index: 4;
      }
      .form_container {
        position: fixed;
        top: 58px;
        padding: 0;
        width: 100%;
        background-color: #fff;
        z-index: 3;
      }
      #univ_form {
        border: none;
        border-bottom: 3px solid #0AB9F1;
      }
      
    }

    /* mid */
    div#mid {
      width: 100%;
      max-width: 500px;
      display: flex;
      margin: auto;
      justify-content: space-evenly;
      align-items: center;
      padding: 32px 0;
    }

    .card {
      width: 35%;
      padding: 8px;
      height: 100px;
      border: 0.5px solid rgba(0,0,0,0.3);
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      color: #333;
      text-decoration: none;
    }

    .card_up {
      font-size: 14px;
      font-weight: 400;
    }

    .card_down {
      text-align: right;
      font-size: 14px;
    }

    /* footer */
    div#footer{
      width: 100%;
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      padding: 24px 0;
      border-top: 1px solid rgba(0,0,0,0.1);
    }

    #footer > div {
      padding: 0 8px;
      font-size: 14px;
      font-weight: 400;
    }

    #footer a {
      text-decoration: none;
      color: #333;
    }

    .top_btn {
      display: none;
      position: fixed;
      left: calc(50% + 316px);
      background-color: #fff;
      bottom: 80px;
      line-height: 12px;
      text-align: center;
      width: 36px;
      height: 32px;
      padding: 2px !important;
      border: 1px solid rgba(0,0,0,0.1);
    }

    /* lower */
    #lower {
      width: 100%;
      display: block;
      background-color: #ebeef1;
      padding: 16px 0;
    }
    @media screen and (max-width: 600px) {
      #lower {
        margin-top: 108px;
        padding-top: 0;
        border: none;
      }
    }

    /* main + roomList */
    .error_container {
      margin: auto;
      padding: 60px 0;
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.1);
      font-size: 18px;
      color: #555;
      letter-spacing: -0.4px;
    }
    .request_container {
      margin: auto;
      padding: 20px 20px;
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.1);
      border-top: none;
      font-size: 15px;
      color: #777;
      text-align: center;
    }
    .request_container > a {
      margin-top: 12px;
      padding: 8px 8px;
      display: block;
      text-decoration: underline;
      font-weight: 400;
    }
    div#main {
      margin: auto;
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.1);
    }
    #main a {
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      color: #333;
      padding: 12px;
      background-color: white;
      width: 100%;
      border-bottom: 1px solid rgba(0,0,0,0.05);
    }
    .list_wrapper {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .list_upper {
      display: flex;
      flex-direction: row;
    }
    .icon_container {
      width: 80px;
      height: 100%;
      border: 1px solid rgba(0,0,0,0.1);
      margin-right: 8px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .tag_container {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 4px;
    }
    .tag_container span {
      color: #0ab9f1;
      border: 0.5px solid #0ab9f1;
      padding: 1px 4px;
      border-radius: 2px;
      margin-right: 4px;
      margin-bottom: 2px;
      font-size: 14px;
      display: inline-block;
    }
    
    .price_container {
      font-weight: 500;
      font-size: 20px;
    }
    .new:after {
      content: 'N';
      font-size: 14px;
      position: relative;
      color: rgb(241, 83, 83)
    }
    .list_mid {
      margin: 8px 0;
      font-size: 14px;
      color: #777;  
    }
    .list_mid img {
      width: 13px;
      margin-right: 8px;
    }
    .list_lower {
      font-size: 12px;
      color: rgba(0,0,0,0.4);
    }
    .keywords_container span {
      padding: 2px 6px;
      background-color: rgba(0,0,0,0.03);
      color: #777;
      border-radius: 2px;
      font-size: 12px;
    }
    .list_right img {
      width: 10px;
      margin-right: 4px;
    }

    /* hashtag : 위쪽 주요 태그 선택하는 부분 */
    #hashtag_container {
      width: 100%;
      max-width: 600px;
      margin: auto;
      margin-bottom: 12px;
    }
    #hashtag_container > form {
      padding: 12px 20px;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.1);
    }
    input[type="checkbox"] + label span {
      color: rgba(0,0,0,0.7);
      position: relative;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      line-height: 1.2;
      clear: both;
      margin: 4px 8px 4px 0;
      padding: 4px 8px;
      border: 1px solid #eee;
      border-radius: 40px;
      font-size: 14px;
    }
    input[type="checkbox"]:checked + label span {
      background-color: rgb(30, 144, 255);
      color: white;
    }
    .hashtag_list input[type="checkbox"] {
      display: none;
    }
    .hashtag_title {
      font-size: 16px;
      font-weight: 400;
      margin: auto;
      margin-top: 16px;
      margin-bottom: 4px;
      width: 100%;
    }
    .hashtag_list {
      margin: auto;
      width: 100%;
    }
    .submit_container {
      width: 100%;
      margin: auto;
      text-align: center;
      padding-top: 16px;
      margin-top: 16px;
      border-top: 1px solid rgba(0,0,0,0.1);
    }
    .submit_container input[type="submit"] {
      box-sizing: border-box;
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 2px;
      background: rgba(0,0,0,0.4);
      width: 120px;
      color: white;
      height: 40px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 300;
      font-family: Noto Sans KR, AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
      margin: 0 4px;
    }
    .submit_container a {
      width: 120px;
      box-sizing: border-box;
      height: 40px;
      border-radius: 2px;
      display: inline-block;
      font-size: 14px;
      font-weight: 300;
      color: #333;
      text-decoration: none;
      border: 1px solid rgba(0,0,0,0.2);
      vertical-align: bottom;
      line-height: 36px;
      margin: 0 4px;
    }
    @media screen and (max-width: 600px) {
      #hashtag_container {
        margin-bottom: 4px;
      }
      #hashtag_container > form {
        padding: 12px 12px;
        background-color: #fff;
      }
    }
    

    /* request 이런 방 구해요 광고 */
    a.request_container {
      padding: 28px 12px !important ; 
    }
    .request_title_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .request_title_image {
      width: 32px;
      display: flex;
    }
    .request_title_image > img {
      width: 100%;
    }
    .request_title {
      font-size: 28px;
      font-weight: 400;
      margin-left: 12px;
      letter-spacing: -.3px;
    }
    .request_text_container {
      margin-top: 8px;
    }
    .request_button_container {
      margin-top: 8px;
      font-size: 16px;
      text-decoration: underline;
      font-weight: 400;
    }