@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
    * {
      padding: 0;
      margin: 0;
    }
    body {
      font-family: Noto Sans KR, AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
      font-weight: 300;
      background-color: #fff;
      color: #333;
      width: 100%;
    }
    /* upper */
    .form_container {
      padding: 16px 40px;
      border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    /* university select */
    #univ_form {
      position: relative;
      width: 100%;
      max-width: 600px;
      margin: auto;
      height: 47px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #univ_form:before { /* 화살표 대체 */ 
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      left: 12px;
      width: 0;
      height: 0;
      margin-top: -1px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #666;
    }
    #univ_form label {
      position: absolute;
      top: 1px; /* 위치정렬 */ 
      left: 28px; /* 위치정렬 */ 
      font-size: 16px;
      padding: .5em .5em; /* select의 여백 크기 만큼 */ 
      z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
    }
    #univ_select {
        flex: 1; 
        height: auto; /* 높이 초기화 */ 
        line-height: normal; /* line-height 초기화 */ 
        font-family: inherit; /* 폰트 상속 */ 
        padding: .8em .5em; /* 여백과 높이 결정 */ 
        border: 0; 
        opacity: 0; /* 숨기기 */ 
        font-size: 14px;
        filter:alpha(opacity=0); /* IE8 숨기기 */ 
        -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
        -moz-appearance: none; 
        appearance: none; 
    }
    /* hashtag : 위쪽 주요 태그 선택하는 부분 */
    #hashtag_container {
      width: 100%;
      max-width: 600px;
      margin: auto;
      background-color: #fff;
      position: relative;
      top: 17px;
      left: 0;
      visibility: hidden;
    }
    #hashtag_container.visible {
      visibility: visible;
    }
    #hashtag_container > form {
      position: absolute;
      width: 100%;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #fff;
    }
    .input_container {
      padding: 0 12px;
    }
    input[type="checkbox"] + label span {
      color: rgba(0,0,0,0.7);
      position: relative;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      line-height: 1.2;
      clear: both;
      margin: 4px 8px 4px 0;
      padding: 4px 8px;
      border: 1px solid #eee;
      border-radius: 40px;
      font-size: 14px;
    }
    input[type="checkbox"]:checked + label span {
      background-color: rgb(30, 144, 255);
      color: white;
      border: 1px solid #eee0;
    }
    .hashtag_list input[type="checkbox"] {
      display: none;
    }
    .hashtag_title {
      font-size: 16px;
      font-weight: 400;
      margin: auto;
      margin-top: 16px;
      margin-bottom: 4px;
      width: 100%;
    }
    .hashtag_list {
      margin: auto;
      width: 100%;
    }
    .submit_container {
      width: 100%;
      height: 48px;
      margin: auto;
      text-align: center;
      margin-top: 16px;
      display: flex;
      justify-content: center;
      align-items: stretch;
    }
    .submit_container input[type="submit"] {
      flex: 1;
      box-sizing: border-box;
      border-bottom-left-radius: 12px;
      background: #0AB9F1;
      border: 1px solid #0AB9F1;
      color: white;
      cursor: pointer;
      font-size: 16px;
      font-weight: 300;
      font-family: Noto Sans KR, AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    }
    .submit_container a {
      flex: 1;
      box-sizing: border-box;
      border-bottom-right-radius: 12px;
      display: inline-block;
      font-size: 16px;
      font-weight: 300;
      color: #0ab9f1;
      text-decoration: none;
      border: 1px solid #0AB9F1;
      vertical-align: bottom;
      line-height: 44px;
    }
    @media screen and (max-width: 600px) {
      #hashtag_container {
        top: 0;
      }
      #hashtag_container > form {
        
      }
    }
    input[type="range"] {
      display: inline-block;
      -webkit-appearance: none;
      background-color: #bdc3c7;
      width: calc(100% - 100px);
      height: 3px;
      margin-right: 4px;
      outline: 0;
    }
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #0AB9F1;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid white;
      cursor: pointer;
      transition: transform .2s ease-in-out;
    }​
    input[type="range"]::-webkit-slider-thumb:hover {
      background-color: white;
      border: 2px solid #0AB9F1;
    }
    input[type="range"]::-webkit-slider-thumb:active {
      transform: scale(1.3);
    }
    .tune_container {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 12px;
      font-size: 18px;
      cursor: pointer;
    }
    @media screen and (max-width: 600px) {
      header {
        position: fixed;
        top: 0;
        z-index: 4;
      }
      .form_container {
        position: fixed;
        top: 58px;
        padding: 0;
        width: 100%;
        background-color: #fff;
        border-bottom: none;
        z-index: 3;
      }
      #univ_form {
        border: none;
        border-bottom: 3px solid #0AB9F1;
      }
      #univ_form label {
        font-size: 14px;
        padding: .8em .5em;
      }
    }


    /* footer */
    div#footer{
      width: 100%;
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      padding: 24px 0;
      border-top: 1px solid rgba(0,0,0,0.1);
    }

    #footer > div {
      padding: 0 8px;
      font-size: 14px;
      font-weight: 400;
    }

    #footer a {
      text-decoration: none;
      color: #333;
    }

    .top_btn {
      display: none;
      position: fixed;
      left: calc(50% + 316px);
      background-color: #fff;
      bottom: 80px;
      line-height: 12px;
      text-align: center;
      width: 36px;
      height: 32px;
      padding: 2px !important;
      border: 1px solid rgba(0,0,0,0.1);
    }

    /* lower */
    #lower {
      width: 100%;
      display: block;
      background-color: #ebeef1;
      padding: 16px 0;
    }
    @media screen and (max-width: 600px) {
      #lower {
        margin-top: 104px;
        padding-top: 0;
        border: none;
      }
    }

    /* main + roomList */
    .error_container {
      margin: auto;
      padding: 60px 0;
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.1);
      font-size: 18px;
      color: #555;
      letter-spacing: -0.4px;
    }
    .request_container {
      margin: auto;
      padding: 20px 20px;
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.1);
      border-top: none;
      font-size: 15px;
      color: #777;
      text-align: center;
    }
    .request_container > a {
      margin-top: 12px;
      padding: 8px 8px;
      display: block;
      text-decoration: underline;
      font-weight: 400;
    }
    div#main {
      margin: auto;
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-top: 1px solid rgba(0,0,0,0.05);
    }
    #main > a {
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      color: #333;
      padding: 24px 16px;
      background-color: white;
      width: 100%;
      border-bottom: 1px solid rgba(0,0,0,0.05);
    }
    .list_wrapper {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
    .list_left {
      width: calc(100% - 144px);
    }
    .list_upper {
      width: 100%;
      margin-right: 4px;
    }
    .pic_container {
      width: 138px;
      height: 100%;
    }
    .pic_container > div {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
    .tag_container {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      color: #fff;
      padding: 2px 0;
    }
    .tag_container span {
      color: #fff;
      background-color: #0AB9F1;
      padding: 1px 4px 2px 4px;
      border-radius: 2px;
      margin-right: 4px;
      margin-bottom: 2px;
      font-size: 14px;
      display: inline;
    }
    .price_container {
      color: #0AB9F1;
      font-weight: 500;
      font-size: 22px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .roomType {
      color: #1e90ff;
      font-size: 20px;
      font-weight: 500;
    }
    .new {
      font-size: 20px;
      color: rgb(241, 83, 83)
    }
    .list_mid {
      margin: 8px 0;
      font-size: 14px;
      color: #777;  
      width: 100%;
    }
    .list_mid > div {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .list_lower {
      font-size: 12px;
      color: rgba(0,0,0,0.4);
    }
    .keywords_container {
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
    }
    .keywords_container span {
      padding: 2px 6px;
      background-color: rgba(0,0,0,0.03);
      color: #777;
      border-radius: 2px;
      font-size: 12px;
    }
    .pic_container {
      position: relative;
    }
    .list_right img {
      width: 10px;
      margin-right: 4px;
    }
    span.discount {
      color: #fff;
      background-color: rgb(241, 83, 83);
      padding: 1px 4px 2px 4px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      font-size: 14px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }


    /* request 이런 방 구해요 광고 */
    a.request_container {
      padding: 28px 12px !important ; 
    }
    .request_text_container {
      
    }
    .request_button_container {
      margin-top: 8px;
      font-size: 16px;
      text-decoration: underline;
      font-weight: 400;
    }